{% extends "golf_app/golf_app_base.html" %}
{% block body_block %}
<h1>Game Rules and Logic</h1>


<h2>2023 Rule change Proposals</h2>
<ul>
  <li>Eliminate handicaps, all scores will be the gross score for the pick.</li>
  <li>Assuming there are no handicaps, the case of a Best in Group bonus won't apply to cuts, but for sake of clarity the logic will change to so that cuts or pre CUT WD/DQ are not eligible for the bonus, and excluded from the calculation all together.</li>
  <li>Any golfer who makes the cut is eligible for best in group, even if they WD or DQ after the cut</li>
  <li>Field strength will continue to use 122 as the OWGR rating count at the start of 2023.  That number will be revised according the the LIV roster and OWGR impact of LIV.</li>
  <li>CAn I make it dynamic?</li>

</ul>


<br>
<h2>Rules</h2>
<br>
<h3>Prizes</h3>
<ul>
<li>$300 entry fee</li>
<li>The weekly game winner is the person with the lowest score - see scoring section below</li>
<li>For all non majors/fedex playoffs the weekly game winner prize is $30 (split in case of ties)</li>
<li>For majors (the actual 4 majors only) the weekly game winner is $100 (split in case of ties)</li>
<li>For the 3 FedEx playoff events, the weekly game winner prize is $75.</li>
<li>Year end payout is 80% of the remianing pot to the person with the lowest point total, 20% of the remining pot to second place (split in the case of ties)</li>
<li>A $30 web hosting fee will be deducted from the season winners prize</li>
</ul>

<h3>Picks:</h3>
<ul>
<li>For regular events (70 golfers and above) there will be 9 groups.  Each player will pick 2 golfers from group 1 and 1 from each of the remaining groups.
    The first 5 groups will have 10 golfers each.  Groups 6-9 will divide the remaining golfers.    </li>
<li>For events with between 30 and 69 golfers the field will be divided into 10 groups. One pick per group</li>
<li>For events less than 30 golfers, groups will be 3 golfers per group with any remainder in the last group.  One pick per group.</li>
</ul>

<h3>Handicap</h3>
<ul>
<li>Each pick will receive a handicap equal to 1% of his OWGR.  That handicap will be deducted from the golfers position on the leaderboard.</li>
<li>The handicap will be a whole number, and rounded.  So the top 49 OWGR get 0 handicap, rank 2043 will get 20 (if less than the max h/c below)</li>
<li>The max handicap will be set to 13% of the field size.</li>
<li>Handicap will apply to any score, a cut or qualifying will benefit from the handicap</li>
</ul>

<h3>Scoring</h3>
<ul>
  <li>Total Score = the sum of (each pick's rank - handicap) - bonus points</li>
  <li>Score for picks making the cut is rank - handicap</li>
  <li>Cuts in groups 1-3 score will be calculated as: ((total golfers making the cut + 1 ) - handicap) + number of golfers in the group making the cut.</li>
  <li>Cuts in groups 4 and above score will be: (total golfers making the cut + 1 ) -  handicap</li>
  <li>WD/DQ, etc before the cut will be treated as a cut and follow the logic above.</li>
  <li>If a tournament has a second cut on Sat (MDF), Friday cuts will get the cut score as described above.  Sat cuts will get the actual rank in the tournament.  For example, if 80 golfers make the cut on Friday all cut golfers get 81.  If 70 make it after Sat, the 10 golfers who are cut get their actual rank (bet 71 and 80).</li>
  <li>Note - The Pebble Beach Pro AM classifies some golfers as MDF but has 1 cut so those are regular cuts and not MDF/Sat cuts  That logic applies for any 1 cut event.</li>

</ul>

<h3>WD Rules</h3>
<ul>
  <li>If a pick WD/DQ, etc after the start of play and before the cut, that counts as a cut.</li>
  <p>Post cut WD/DQ,etc will be ranked as the last place golfer making the cut (with no group penalty).</p>
  <li>WD’s before a tournament starts wil be emailed before the tournament and visible on the website, please change any of those picks.  Also, if you notice any WD picks please line the group.  </li>
  <li>If a pick withdraws before the start, you have until 3 hours after the start to nominate a new pick.  If you don't make a new pick by the deadline, you get the golfer at the mid point of the remaining golfers</li>
  <li>If the remaining golfers in the group are an odd number, the mid point is the golfer with the same number of golfers above and below in the remaining golfers.</li>
  <li>If the remaining golfers in the group is an even number, the mid point is the golfer with 1 more golfer above in the reaminaing golfers.</li>
  <li>examples: 9 golfers remaining in group, mid point is the 5th golfer (4 above and below).  10 in remaining group, the mid point is the 6th golfer (5 above, 4 below).</li>
</ul>

<h3>Pick Deadline</h3>
<ul>
<li>If picks are not submitted before the tournament start, random/auto picks will be created at the start of play.
    No bonuses if using those picks.  If picks are submitted by the player before all golfers have begun play in round 1 bonuses will be available.</li>
<li>Changes can be made to picks before a golfer tees off.  Once a golfer has teed off they will be locked.</li>
<li>There will be no extensions to the deadline unless there is a technical issue with the website.</li>
</ul>

<h3>Trifecta</h3>
<ul>
<li>50 point bonus for picking the 1, 2 and 3 place golfers (including T2/T3).  Does not include handicap, based on gross score.</li>
<li>If there is a tie for second, you need to pick the winner and 2 of the golfers T2.</li>
<li>If there is a T3, you need to pick the winner, second place and one of the T3 golfers.</li>
<li>Only available when the field is more than 70 golfers.  In addition to winner, playoff and best in group bonuses.</li>
</ul>

<h3>Weekly Winner Bonuses</h3>
<ul>
<li>Awarded to the player with the lowest point total each tournament.  Point total is the sum of score of each pick - other bonus points</li>
<li>Bonus points are based on the field quality: 150 for a major, 100 for a strong field, 50 for a weak field</li>
<li>Field quality will be based on the % of top 122 WGR golfers in the field.  Formula is count of top 122/golfers in field.  Rounded to 2 decimals.
  Greater than .3 will be a strong field, less than a weak field.</li>
</ul>

<H3>Other Bonuses</H3>
<ul>
<li>If you miss the pick deadline, no bonuses will be applied.</li>
<li>Winning Pick (golfer) Bonus:  50 + (group# *2)</li>
<li>Playoff Bonus - losers in a playoff get a 25 point bonus</li>
<li>No cut bonus - total golfers in field - total making the cut.  For example, in a regular event 156 golfers - 65 mkaing the cut = bonus of 91</li>
<li>Low Score in group bonus - 10 points for any pick that is lowest score in the group.  Does not apply to the tournament winner or playoff participant.
    Only available when there are 5 or more golfers per group.  Calculated as rank - handicap, note that cut or WD/DQ can win if their game score is lowest in the group.</li>
</ul>

<h3>Ryder Cup (and probably President's Cup)</h3>
<ul>
<li>Field will be divided into 6 groups, with 4 golfers each.  Each will have 2 US and 2 Euro, sorted by OWGR</li>
<li>One pick per group</li>
<li>Score is calculated as -10 for a win, +10 for a loss.  Additional points added for winning margin, 1 * number of holes, so +/- 2 for 2&1, +/- 3 for 3&2, etc</li>
<li>Pick winning team - 25 point bonus</li>
<li>Wining score.  Closest (under or over) 25 points.  Must have picked the winning team as well to qualify.  If the case of a tie, all winning picks get the bonus.</li>
<li>Field is considered a strong field, winning score -100 points</li>
</ul>

<h3>FedEx</h3>
<ul>
<li>At the start of the season pick 30 golfers who you think will make it to the Tour Championship.</li>
<li>30 points for any correct pick</li>
<li>+50 for any pick that was outside the top 30 OWGR as of the start of the season</li>
<li>-20 for any pick that was in the top 30 but doesn't make it</li>
</ul>
<!-- <h3>Ozaki-san rules</h3>
<p>Pays full $300 entry fee</p>
<p>He will get the average score per event for the first 11 events, placing him in 6th place (excluding FedEx impact)</p>
<p>For FedEx picks, he is prohibited from picking anyone outside the top 50 who is currently inside the top 30.  All other players are available</p>
<br>
<br> -->

<h3>Match Play</h3>
<ul>
<li>Golfers put into groups per the tournament field.  There are 16 groups of 4, make 1 pick per group.</li>
<li>If a pick fails to make a round, the score will be number of golfers in the round +1.  So 17 if failing to make the final 16, 9 if losing in the round of 16, 5 if losing in final 8.</li>
<li>Winner through 4th place get the points for their finish (1-4)</li>
<li>Strong field bonus (-100) for overall low points winner.</li>
<li>Low points winner gets standard $30 prize (or split in case of tie for low score)</li>
<li>Winner bonus for winning golfer pick of -50, no group multiplier.  -25 point bonus for loser in the final.</li>
<li>Trifecta bonus (-25) for picking winning, second and 3 place golfers (3rd place is winner of the consolation match)</li>
<li>No best in group, no cut or playoff bonuses.</li>
<li>No handicaps</li>
<li>If a pick WD before the start, the replacement will be the actual replacement in the tournament field.  If there is no replacement  or it is after the start that pick will get a score of 17</li>
</ul>



<h2>Archived Rules:</h2>


<h2>2020 Rules:</h2>
<h3>Finances</h3>
<p>$300 per player.  There are 9 of us, so $2700 total pot.</p> 
<p>Normal event weekly prize is $30.  For majors, WGC and The Players the prize is $50.</p> 
<p>The remaining money will be split with 70% going to the winner and 30% for second place.  That should be $915 for winner and $405 for second, assuming there are 39 tournaments.</p>
<p>Note - there is a $30 web hosting fee deducted from the winners prize (John's crappy programming is free) </p>
<h3>Weekly Field:</h3>
<p>Thru the year there are different field sizes, with most tournaments have 156 player.  Groups are created by OWGR for the player.  The group logic works like this</p>
<ul>
  <li>For 120 golfers or more – groups 1-5 have 10 golfers, group 6+ have 15.  When there are less than 15 golfers remaining, they are added to the final group (so in a 156 tournament the last group has 16 gofers.  If there are 154 (I don’t think this actually happens) the last group will be 29 golfers).</li>
  <li>Tournaments with less than 120 players there will be 10 groups, again any odd numbers in the last group.  There are some tournaments with 100 golfers, so they will be 10 x 10.  There are some with 30, they are 10 groups with 3 golfers in each.</li>
</ul>

<h3>Pick Deadline</h3>
<p>The deadline is 23:59 the day prior to the tournament start date in Pacific Time.  This works for all US tournament,  for others let’s make sure we get picks in early and I will manually open it up the scoring page once they are all in (this is an issue the next few weeks when tournaments are in Asia as well as for the Open Championship).</p>
<p>If you miss the pick deadline, you will get random picks and not be eligible for bonus points for winner or cut.</p>


<h3>Bonus Points</h3>
<ul>
  <li>If none of your picks are cut you will a bonus of the number of golfers in the original field - the golfers making the cut.  In s regular event that is 156 - 65 = 91</li>
  <li>If you pick the tournament winner you will get a bonus of –(50 + (group x2)).  So if somehow your group 15 pick wins the tournament you will get -80.</li>
  <p>If you win a major, WGC, or The Players you will get a -100 bonus for that tounament.</p>
</ul>





<h2>2022 Change proposals</h2>
<br>
<h3>Updated Prizes</h3>
<p>For all non majors the winner prize is $30 (split in case of ties)</p>
<p>The payout for majors (the actual 4 majors only) will be increased to $100 for the winner. (split in case of ties)</p>
<p>Year end payout is 80% of the remianing pot to the winner, 20% of the remining pot to second place</p>
<p>A $30 web hosting fee will be deducted from the winners prize</p>
<br>
<h3>Withdrawal Rules</h3>
<ul>
  <li>If a pick withdraws after the start of play, that counts as a cut.</li>
  <li>WD’s before a tournament starts wil be emailed at 12:00est on Wed before the tournament, please change any of those picks.  Also, if you notice any WD picks please line the group.  </li>
  <li>If a pick withdraws before the start, you have until 3 hours after the start to nominate a new pick.  If you don't make a new pick by the deadline, you get the golfer at the mid point of the remaining group</li>
  <li>For a group that initially had an even number of golfers you get the golfer with the same number of golfers above and below in the remianing group.
      For example, in a group that was originally 10, any WD of 1-5 gets the 6th from the original list, and WD from 6-10 gets the 5th from the original list.</li>
  <li>For a group that intially had an odd number of golfers you get the golfer with 1 more golfer above in the reaminaing golfers.
      For example, in an original group of 23 a WD from 1-11 get the 12th golfer, 12 WD gets 13 and 14 and above get the 12th</li>
</ul>


<h3>Picks:</h3>
<p>For regular events (70 golfers and above) there will be 9 groups.  Each player will pick 2 golfers from group 1 and 1 from each of the remaining groups.
    The first 5 groups will have 10 golfers each.  Groups 6-9 will divide the remaining golfers.  Handicaps will continue to apply.  </p>
<p>For events with between 30 and 69 golfers the field will be divided into 10 groups. One pick per group</p>
<p>For events less than 30 golfers, groups will be 3 golfers per group with any remainder in the last group.  One pick per group.</p>

<h3>Cut Scores</h3>
  <p>For groups 1-3, the cut score will be calculated as: total golfers making the cut + 1 + number of golfers in the group making the cut.  
    For groups 4 and above the cut score will be: total golfers making the cut + 1  (same as current logic)</p>
  <p>WD/DQ before the cut will follow the logic above.  A post cut WD/DQ will continue to be ranked as the last place golfer making the cut with no group penalty.</p>

<h3>Pick Deadline</h3>
<p>If picks are not submitted before the tournament start, random/auto picks will be created at the start of play.
    No bonuses if using those picks (same as 2021).  But using the extended deadline, picks can be changed before a golfer tees off and then bonuses will be available.</p>
<p>Changes can be made to picks before a golfer tees off.  Once a golfer has teed off they will be locked.</p>
<p>There will be no extensions to the deadline unless there is a technical issue with the website.</p>

<h3>Trifecta</h3>
<p>50 point bonus for picking the 1, 2 and 3 place golfers (including T2/T3).
    If there is a tie for second, you need to pick the winner and 2 of the golfers T2.
    If there is a T3, you need to pick the winner, second place and one of the T3 golfers.
    Only available when the field is more than 70 golfers.  In addition to winner, playoff and best in group bonuses.</p>

<h3>Winner Bonuses</h3>
<p>Based on field quality, the weekly winner will get a bonus.  150 for a major, 100 for a strong field, 50 for a weak field</p>
<p>Field quality will be based on the % of top 100 WGR golfers in the field.  Formula is golfers in field/count of top 100.  Rounded to 2 decimals.
  Greater than .3 will be a strong field, less than a weak field.</p>
<p>The 4 majors and Fedex Playoff events will be majors, others will be classified based on the field quality above.</p>

<h3>Ryder Cup</h3>
<p>Field will be divided into 6 groups, with 4 golfers each.  Each will have 2 US and 2 Euro, sorted by OWGR</p>
<p>One pick per group</p>
<p>Score is calculated as -10 for a win, +10 for a loss.  Additional points added for winning margin, 1 * number of holes, so +/- 2 for 2&1, +/- 3 for 3&2, etc</p>
<p>Pick winning team - 25 point bonus</p>
<p>Pick winnning team and score.  Closest (under or over) 25 points.  If a tie, all picks get the bonus.</p>
<p>Field is considered a strong field, winning score -100 points</p>
<br>

<h3>FedEx</h3>
<p>At the start of the season pick 30 golfers who you think will make it to the Tour Championship.</p>
<p>30 points for any correct pick</p>
<p>+50 for any pick that was outside the top 30 OWGR as of the start of the season</p>
<p>-20 for any pick that was in the top 30 but doesn't make it</p>

<h3>Ozaki-san rules</h3>
<p>Pays full $300 entry fee</p>
<p>He will get the average score per event for the first 11 events, placing him in 6th place (excluding FedEx impact)</p>
<p>For FedEx picks, he is prohibited from picking anyone outside the top 50 who is currently inside the top 30.  All other players are available</p>
<br>
<br>

<h2>2021 Rules</h2>

<h3>Groups:</h3>
<p>For fields with 65 golfers or more, 6 groups.  One pick for groups 1-5, 5 picks in group 6</p>
<p>For fields between 30 - 64, the field will be divided into 10 groups with remainder in the last group and 1 pick per group. </p>
<p>For fields of less thatn 30, the field will be divided into groups of 3 per group (reminder in the last group) and 1 pick per group </p>

<h3>Handicap</h3>
<p>Each pick will receive a handicap equal to 1% of his OWGR.  That handicap will be deducted from the golfers position on the leaderboard.</p>
<p>The handicap will be a whole number, and rounded.  So the top 49 OWGR get 0 handicap, rank 2043 will get 20</p>
<p>The max handicap will be set to 13% of the field size.</p>
<p>Handicap will apply to any score, a cut or qualifying will benefit from the handicap</p>

<H3>Bonuses</H3>
<p>If you miss the pick deadline, no bonuses will be applied.  </p>
<p>Winner Bonus - same as today, 50 + (group# *2)</p>
<p>Playoff Bonus - losers in a playoff get a 25 point bonus</p>
<p>No cut bonus - total golfers in field - total making the cut.  For example, in a regular event 154 golfers - 65 mkaing the cut = bonus of 89</p>
<p>Major/WGC/Players/Memorial Bonus - 100 points for winning picks (split in the case of a tie)</p>
<p>Low Score in group bonus - 10 points for any pick that is best in the group.  Does not apply to the tournament winner or playoff participant.  Only available when there are 5 or more golfers per group.</p>

<h3>Additional Prizes</h3>
<p>The FedEx playoff events will be treated as majors.  </p>

<h3>Match Play</h3>
<p>Golfers put into groups per the tournament field.  There are 16 groups of 4, make 1 pick per group.</p>
<p>If a pick fails to make a round, the score will be number of golfers in the round +1.  So 17 if failing to make the final 16, 9 if losing in the round of 16, 5 if losing in final 8.</p>
<p>Winner through 4th place get the points for their finish (1-4)</p>
<p>Strong field bonus (-100) for overall low points winner.</p>
<p>Low points winner gets standard $30 prize (or split in case of tie for low score)</p>
<p>Winner bonus for winning golfer pick of -50, no group multiplier.  -25 point bonus for loser in the final.</p>
<p>Trifecta bonus (-25) for picking winning, second and 3 place golfers (3rd place is winner of the consolation match)</p>
<p>No best in group, no cut or playoff bonuses.</p>
<p>No handicaps</p>
<p>If a pick WD before the start, the replacement will be the actual replacement in the tournament field.  If there is no replacement  or it is after the start that pick will get a score of 17</p>
 

<h2>2020 Rules:</h2>
<h3>Finances</h3>
<p>$300 per player.  There are 9 of us, so $2700 total pot.</p> 
<p>Normal event weekly prize is $30.  For majors, WGC and The Players the prize is $50.</p> 
<p>The remaining money will be split with 70% going to the winner and 30% for second place.  That should be $915 for winner and $405 for second, assuming there are 39 tournaments.</p>
<p>Note - there is a $30 web hosting fee deducted from the winners prize (John's crappy programming is free) </p>
<h3>Weekly Field:</h3>
<p>Thru the year there are different field sizes, with most tournaments have 156 player.  Groups are created by OWGR for the player.  The group logic works like this</p>
<ul>
  <li>For 120 golfers or more – groups 1-5 have 10 golfers, group 6+ have 15.  When there are less than 15 golfers remaining, they are added to the final group (so in a 156 tournament the last group has 16 gofers.  If there are 154 (I don’t think this actually happens) the last group will be 29 golfers).</li>
  <li>Tournaments with less than 120 players there will be 10 groups, again any odd numbers in the last group.  There are some tournaments with 100 golfers, so they will be 10 x 10.  There are some with 30, they are 10 groups with 3 golfers in each.</li>
</ul>

<h3>Pick Deadline</h3>
<p>The deadline is 23:59 the day prior to the tournament start date in Pacific Time.  This works for all US tournament,  for others let’s make sure we get picks in early and I will manually open it up the scoring page once they are all in (this is an issue the next few weeks when tournaments are in Asia as well as for the Open Championship).</p>
<p>If you miss the pick deadline, you will get random picks and not be eligible for bonus points for winner or cut.</p>


<h3>Scoring</h3>
<ul>
  <li>Add up the ranks of each selected golfer</li>
  <li>Any cut golfer gets a rank of the number of players making the cut +1 (in round 1 this is hard coded to 66, in round 2 it is based on the projected cut line so will change as that changes).</li>
  <li>Note - If a tournament has an mdf, there is a second cut on Sat that resets the field to top 70 and ties.  Friday cuts will get a score of the Friday cut number +1.  Sat cuts will get the actual rank in the tournament.  For example, if 80 golfers make the cut on Friday all cut golfers get 81.  If 70 make it after Sat, the 10 golfers who are cut get their actual rank.</li>

</ul>

<h3>Bonus Points</h3>
<ul>
  <li>If none of your picks are cut you will a bonus of the number of golfers in the original field - the golfers making the cut.  In s regular event that is 156 - 65 = 91</li>
  <li>If you pick the tournament winner you will get a bonus of –(50 + (group x2)).  So if somehow your group 15 pick wins the tournament you will get -80.</li>
  <p>If you win a major, WGC, or The Players you will get a -100 bonus for that tounament.</p>
</ul>

{%endblock%}
