{% extends "golf_app/golf_app_base.html" %}
{%load static%}

{% block body_block %}
<script type="text/javascript" src="{%static 'golf_app/js/all_time.js'%}"></script>

<div id='msg'></div>
<div id='year_stats' class="input-group mb-3">
    <div class="input-group-prepend">
        <label for="season" class='input-group-text'>Choose Season</label>
    </div>

    <select name="season" id="season" class='custom-select'>
        <option value="all" selected>All</option>
        {%for s in seasons%}
        <option value="{{s.pk}}">{{s.season}}</option>
        {%endfor%}
    </select>
</div>

<div id='status'>
    <p> Loading Status</p>
    <ul class="list-group small">
        <li class='list-group-item' >Played: <span id='played_status'>loading....</span></li>
        <li class='list-group-item' >Tournament Wins: <span id='t_wins_status'>loading....</span></li>
        <li class='list-group-item' >Winning Golfer: <span id='winner_picked_status'>loading....</span></li>
        <li class='list-group-item' >Average Points: <span id='avg_points_status'>loading....</span></li>
        <li class='list-group-item' >Average Cuts: <span id='avg_cuts_status'>loading....</span></li>
        <li class='list-group-item' >Most Frequent Picked: <span id='most_frequent_status'>loading....</span></li>
    </ul>
</div>

<div id='stats_sect'>
    <table class='table table-bordered'>
        <thead>
            <th>Player</th>
            <th>Played</th>
            <th>Tournament Wins</th>
            <th>Winning Golfer Picked</th>
            <th>Average Points</th>
            <th>Average Cuts</th>
            <th>Most Frequent Pick</th>
        </thead>
        <tbody id='stats_body'>
            {%for u in users%}
            <tr id='{{u.username}}_stats_row'>
            <th>{{u.username}}</th>
            <td id='played_{{u.username}}'>...</td>
            <td id='t_wins_{{u.username}}'>...</td>
            <td id='winner_picked_{{u.username}}'>...</td>
            <td id='avg_points_{{u.username}}'>...</td>
            <td id='avg_cuts_{{u.username}}'>...</td>
            <td id='most_picked_{{u.username}}'>...</td>
            </tr>
            {%endfor%}
                
        </tbody>
    </table>

</div>

</div>

{%endblock%}