{% extends "golf_app/golf_app_base.html" %}
{%load static%}

{% block body_block %}
<script type="text/javascript" src="{%static 'golf_app/js/all_time.js'%}"></script>
<link rel="stylesheet" href={%static "golf_app/css/load.css"%}></link>
<div class='load'>
<label class="pulse" id='pulse'>
    <progress class="pulse-progress"></progress>
    しばらくお待ちください。
</label>

<div class="data" id='data'>
    <table id="score-tbl" class="table table-bordered">
        <thead class='thead-dark'>
        <th>Player</th>
        <th>Score</th>
        <th>Num of Cuts</th>
        </thead>
        <tbody>
        </tbody>
    </table>
    <p></p>
    <h3 class="p-3 mb-2 bg-secondary text-white">Tournament Info:</h3>
    <p><a href='https://www.pgatour.com/leaderboard.html' target="_blank">Click for Full Leaderboard</a></p>
    <p id='leaders'></p>
    <p id='cut-data'></p>

</div>
</div>
{%endblock%}