{% extends "golf_app/golf_app_base.html" %}
{%load static%}
{%load bootstrap%}
{%load compress%}
{%load golf_extras%}


{% block body_block %}

<h3 style="text-align:center;">Score Summary {{fedex_season}}</h3>
<br>
<br>
<div class="row">

<div id="summary-section" class="col">
    <h5 style="text-align:center;">Summary Data</h5>
    <table id="summary-table" class="table table-bordered table-sm">
         <script type="text/javascript">
             header = document.createElement('thead')
             header.style.backgroundColor = 'lightgray'
             row = document.createElement('tr')
             firstCell = document.createElement('th')
             row.appendChild(firstCell)
            var orderList = $.parseJSON('{{order|js}}')
            for (let i=0; i < orderList.length; i++) {
                cell = document.createElement('th')
                cell.innerHTML = orderList[i].substring(0,4)
                row.appendChild(cell)
            } 
            header.appendChild(row)
            document.getElementById('summary-table').appendChild(header)
         </script>    

    <tr id="total_score_row">
        <th>Season Total</th>
        <script type="text/javascript">
            var data = $.parseJSON('{{fedex_season.season.get_total_points|escapejs}}')
            var orderList = $.parseJSON('{{order|js}}')
            order_l = orderList.length 
            for (let i=0; i< order_l; i++) {
                 $('#total_score_row').append('<td>' + data[orderList[i]].total + '</td>')
                                }
        </script>
    </tr>
    <tr id="total_rank_row">
        <th>Season Rank</th>
        <script type="text/javascript">
            var data = $.parseJSON('{{fedex_season.season.get_total_points|escapejs}}')
            var orderList = $.parseJSON('{{order|js}}')
            order_l = orderList.length 
            for (let i=0; i< order_l; i++) {
                 $('#total_rank_row').append('<td>' + data[orderList[i]].rank + '</td>')
                                }
        </script>
    </tr>
    <tr>
        <td colspan="12" style="background-color: lightblue;"></td>
    </tr>
    <tr id="fedex_total_row">
        <th>FedEx Points</th>
        <script type="text/javascript">
            var data = $.parseJSON('{{fedex_season.player_points|js}}')
            var orderList = $.parseJSON('{{order|js}}')
            order_l = orderList.length 
            for (let i=0; i< order_l; i++) {
                 $('#fedex_total_row').append('<td>' + data[orderList[i]].score + '</td>')
                                }
        </script>
    </tr>
    <tr id="fedex_rank_row">
        <th>Rank</th>
        <script type="text/javascript">
            var data = $.parseJSON('{{fedex_season.player_points|js}}')
            var orderList = $.parseJSON('{{order|js}}')
            order_l = orderList.length 
            for (let i=0; i< order_l; i++) {
                 $('#fedex_rank_row').append('<td>' + data[orderList[i]].rank + '</td>')
                                }
        </script>
    </tr>
    <tr>
        <td colspan="12" style="background-color: lightblue;"></td>
    </tr>
    <tr id="in_top30_row">
        <th>In Top 30</th>
        <script type="text/javascript">
            var data = $.parseJSON('{{stats|js}}')
            var orderList = $.parseJSON('{{order|js}}')
            order_l = orderList.length 
            for (let i=0; i< order_l; i++) {
                 $('#in_top30_row').append('<td>' + data[orderList[i]].in_top30 + '</td>')
                                }
        </script>
    </tr>
    <tr id="outside_top30_row">
        <th>Outside Top 30</th>
        <script type="text/javascript">
            var data = $.parseJSON('{{stats|js}}')
            var orderList = $.parseJSON('{{order|js}}')
            order_l = orderList.length 
            for (let i=0; i< order_l; i++) {
                 $('#outside_top30_row').append('<td>' + data[orderList[i]].outside_top30 + '</td>')
                                }
        </script>
    </tr>

    <tr id="minus_80_row">
        <th>-80 Picks</th>
        <td id="status_80"><span class="status">....</span></td>
    </tr>
    <tr id="plus_20_row">
        <th>+20 Picks</th>
        <td id="status_20"><span class="status">....</span></td>
    </tr>
    <tr id="at_risk">
        <th>At Risk</th>
        <td id="status_at_risk"><span class="status">....</span></td>
    </tr>
    <tr id="onthe_verge">
        <th>On the Verge</th>
        <td id="status_verge"><span class="status">....</span></td>
    </tr>
    <tr>
        <td colspan="12" style="background-color: lightblue;"></td>
    </tr>
    <tr id="into_top30">
        <th>Player Moves into Top 30</th>
        <td id="status_into_top30">calc<span class="status">....</span></td>
    </tr>
    <tr id="out_top30">
        <th>Moves out of Top 30</th>
        <td id="status_out_top30">calc<span class="status">....</span></td>
    </tr>

</table>


<script>
    $('#summary-table').ready(function()  {
        console.log('picks by score')
        fetch("/golf_app/fedex_picks_by_score/" + '{{fedex_season.pk}}',         
                {method: "GET",})
        .then((response) => response.json())
        .then((responseJSON) => {
            
            var data = $.parseJSON(responseJSON)
            var orderList = $.parseJSON('{{order|js}}')
            order_l = orderList.length 
            $('#status_20').remove()
            $('#status_80').remove()
            $('#status_at_risk').remove()
            $('#status_verge').remove()
            //$('#minus_80_row td')[1].remove()
            for (let i=0; i< order_l; i++) {
                
                 $('#minus_80_row').append('<td>' + data[orderList[i]].minus_80 + '</td>')
                 $('#plus_20_row').append('<td>' + data[orderList[i]].plus_20 + '</td>')
                 $('#at_risk').append('<td>' + data[orderList[i]].at_risk + '</td>')
                 $('#onthe_verge').append('<td>' + data[orderList[i]].onthe_verge + '</td>')
            }
            })
        })

        $('#summary-table').ready(function()  {
        console.log('in/out top30')
        fetch("/golf_app/fedex_in_out/",         
                {method: "GET",})
        .then((response) => response.json())
        .then((responseJSON) => {
            
            var data = $.parseJSON(responseJSON)
            var orderList = $.parseJSON('{{order|js}}')
            order_l = orderList.length 
            $('#into_top30').remove()
            $('#out_top30').remove()
            $('#summary-table').append('<tr><th colspan=12>Player Moves into Top 30</th></tr>')
            for (let i=0; i < Object.keys(data.into_top30).length; i++) {
                $('#summary-table').append('<tr id=into_top30-' + i +'><td> ' + Object.keys(data.into_top30)[i] + '</td></tr>')
                $.each($.parseJSON('{{order|js}}'), function(j, user) {
                            var td = document.createElement('td')
                            if (Object.values(data.into_top30)[i].indexOf(user) != -1) {
                               //td.innerHTML = 'X'
                                check = document.createElement('i')
                                check.classList = ["fas fa-check"]
                                check.style.color = 'green'
                                td.appendChild(check)
                                                          }
                            else {td.innerHTML = ""}
                        document.getElementById('into_top30-' + i).appendChild(td)
                    })
                }

            $('#summary-table').append('<tr><th colspan=12>Moves out of Top 30</th></tr>')
            for (let i=0; i < Object.keys(data.out_top30).length; i++) {
                $('#summary-table').append('<tr id=out_top30-' + i + '><td> ' + Object.keys(data.out_top30) + '</td></tr>')
                $.each($.parseJSON('{{order|js}}'), function(j, user) {
                            var td = document.createElement('td')
                            if (Object.values(data.out_top30)[i].indexOf(user) != -1) {
                                //td.innerHTML = 'X'
                                check = document.createElement('i')
                                check.classList = ["fas fa-times-circle"]
                                check.style.color = 'red'
                                td.appendChild(check)
                                //.html('<i class="fas fa-check"></i>').css('color', 'green')
                                                          }
                            else {td.innerHTML = ""}
                        document.getElementById('out_top30-' + i).appendChild(td)
                    })
            }
            })
        })

</script>
<br>
<br>
</div>
<div id="detail_div" class="col">
    <h5 style="text-align:center;">Detail</h5>
    <table id="detail-table" class="table table-bordered table-sm">
            <script type="text/javascript">
                header = document.createElement('thead')
                header.style.backgroundColor = 'lightgray'
                row = document.createElement('tr')
                firstCell = document.createElement('th')
                secondCell = document.createElement('th')
                secondCell.innerHTML = 'OWGR'
                thirdCell = document.createElement('th')
                thirdCell.innerHTML = 'FedEx Rank'
                row.appendChild(firstCell)
                row.appendChild(secondCell)
                row.appendChild(thirdCell)
               var orderList = $.parseJSON('{{order|js}}')
               for (let i=0; i < orderList.length; i++) {
                   cell = document.createElement('th')
                   cell.innerHTML = orderList[i].substring(0,4)
                   row.appendChild(cell)
               } 
               header.appendChild(row)
               document.getElementById('detail-table').appendChild(header)
               $('#detail-table').append('<tr id=detail-table-status><td>Loading<span class=status>...</span></td></tr>')

               $('#detail-table').ready(function()  {

                fetch("/golf_app/fedex_detail_api/" + '{{fedex_season.pk}}',         
                {method: "GET",})
                .then((response) => response.json())
                .then((responseJSON) => {
            
                    var data = $.parseJSON(responseJSON)
                    var orderList = $.parseJSON('{{order|js}}')
                    
                    data_l = Object.keys(data).length
                    $('#detail-table-status').remove()
                    for (let i=0; i< data_l; i++) {
                        var row = document.createElement('tr')
                        var tdA = document.createElement('td')
                        tdA.innerHTML = Object.keys(data)[i]
                        tdA.style.fontWeight = 'bold'
                        var tdB = document.createElement('td')
                        tdB.innerHTML = Object.values(data)[i].soy_owgr
                        var tdC = document.createElement('td')
                        tdC.innerHTML = Object.values(data)[i].rank
                        row.appendChild(tdA)
                        row.appendChild(tdB)
                        row.appendChild(tdC)
                        //document.getElementById('detail-table').appendChild(row)

                        $.each($.parseJSON('{{order|js}}'), function(j, user) {
                            var td = document.createElement('td')

                            if (Object.values(data)[i].user_list.indexOf(user) != -1) {
                                //td.innerHTML = Object.values(data)[i].user
                                td.innerHTML = Object.values(data)[i].score
                                
                                if (Object.values(data)[i].score.toString() == '-80') {
                                    td.style.color = 'green'
                                    td.style.fontWeight = 'bold'
                                }
                                else if (Object.values(data)[i].score.toString() == '-30') {
                                    td.style.color = 'blue'
                                }
                                else if (Object.values(data)[i].score.toString() == '20') {
                                    td.style.color = 'red'
                                }
                            }
                            else {td.innerHTML = ''}
                            row.appendChild(td)
                        })

                        document.getElementById('detail-table').appendChild(row)
                    // $('#into_top30').append('<td> ' + Object.keys(data[orderList[i]].into_top30) + '</td>')
                    // $('#out_top30').append('<td>' + Object.keys(data[orderList[i]].out_top30) + '</td>')
            }
            })
        })

            </script>    

    </table>
</div>
</div>

{%endblock%}