{% extends "golf_app/golf_app_base.html" %}
{%load static%}
{%load bootstrap%}
{%load compress%}
{%load golf_extras%}

{% block body_block %}

<p id='fedex_season_key' hidden>{{season.pk}}</p>
<p id='season_key' hidden>{{season.season.pk}}</p>

{%if season.allow_picks%}
<h1>{{season.season}} FedEx Cup Season Picks</h1>
{%else%}
<h1>FedEx Season Scores</h1>
<h4><a href="https://www.pgatour.com/fedexcup.html" target="_blank">Official FedEx Scores</a></h4>
<h5>Note: Scores are as of the end of the {{prior_t.name}}</h5>
{%endif%}

{%compress js%}
<script type="text/javascript" src="{%static 'golf_app/js/fedex_scores.js'%}"></script> 
{%endcompress%}
<p id='allow_picks' hidden>{{ season.allow_picks|yesno:"true,false,none" }}</p>
<div id='intro'></div>
<div id='status'><script type="text/javascript">loadStatus()</script></div>

<div id='field' hidden></div>
{%if not season.allow_picks%}


<!-- <script type="text/javascript" src="{%static 'golf_app/js/fedex_details.js'%}"></script>  -->
<div id="fedex_picks_summary" hidden></div>
<script type="text/javascript">score_view()</script>
<div id="fedex_detail" hidden>
    <h3>Pick Details</h3>
</div>
<script type="text/javascript">detail()</script>
{%else%}
{%compress js%}
<script type="text/javascript" src="{%static 'golf_app/js/fedex_field.js'%}"></script> 
{%endcompress%}

{%endif%}
<div id='all_picks' hidden></div>
<div id='scores' hidden></div>
<div id='bottom_sect' class='fedex_sub_display'></div>
<!-- {%compress js%}
<script type="text/javascript" src="{%static 'golf_app/js/fedex_field.js'%}"></script> 
{%endcompress%} -->


<link rel="stylesheet" href='https://cdn.datatables.net/1.11.2/css/dataTables.bootstrap4.min.css'>

{%endblock%}