{% extends "golf_app/golf_app_base.html" %}
{%load static%}
{%load bootstrap%}
{%load compress%}
{%load golf_extras%}

{% block body_block %}
<h1>FedEx Cup Season Picks</h1>
<div id='field'></div>
<div id='bottom_sect' class='field_stats_display'></div>
{%compress js%}
<script type="text/javascript" src="{%static 'golf_app/js/fedex_field.js'%}"></script> 
{%endcompress%}
<!-- <script type='text/javascript' src='https://code.jquery.com/jquery-3.5.1.js'></script> -->
<script type='text/javascript' src='https://cdn.datatables.net/1.11.2/js/jquery.dataTables.min.js'></script>
<script type='text/javascript' src='https://cdn.datatables.net/1.11.2/js/dataTables.bootstrap4.min.js'></script>



<link rel="stylesheet" href='https://cdn.datatables.net/1.11.2/css/dataTables.bootstrap4.min.css'>

{%endblock%}