{% extends "golf_app/golf_app_base.html" %}
{%load static%}
{%load golf_extras%}
{% block body_block %}

<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script> -->


<script type="text/javascript" src="{%static 'golf_app/js/field.js'%}"></script>
<script type="text/javascript" src="{%static 'golf_app/js/get_prior_result.js'%}"></script>
<script type="text/javascript" src="{%static 'golf_app/js/load_player_data.js'%}"></script>

<link rel="stylesheet" href='{%static "golf_app/css/load.css"%}'>
<div class='load'>
<label class="pulse" id='pulse'>
    <progress class="pulse-progress"></progress>
    しばらくお待ちください。
</label>

<div id='prior-results'></div>


<p hidden id='tournament_key'>{{tournament.pk}}</p>

<!-- <script type="text/babel" src="{%static 'test-app/src/prior_result.js'%}"></script> -->

{% regroup field_list by group as ordered_field_list %}

    <div id='main' style='display:none'>
      

      <h4 id="t-name">{{tournament.name}}</h4>
<!--       <div id='test-container'>
        <div id='test-body'></div>
      <div id='test-footer'>  <p>x</p>
       </div>
      </div>
 -->      
      <div id=withdraw></div>
      {%if tournament.pga_tournament_num != "470" and tournament.pga_tournament_num != "018"%}
      <script type="text/babel" src="{%static 'test_app/src/withdraw.js'%}"></script>
      {%endif%} 
      <div id='espn_missing'></div>
      <script type="text/babel" src="{%static 'test_app/src/check_espn_num.js'%}"></script> 


        {%if not tournament.started or tournament.late_picks%}
        <p>Please make 1 pick for each group below</p>
        <form name="random" method="post">
          {%csrf_token%}
          <input type="text" name="random" value="random" hidden>
          <p>or click for random picks  <input type="submit" class="btn btn-primary" value="Random"> </p>
        </form>
        
            <span style="float: right;" >
               <a href="#" id="download" >
               <i class="fas fa-file-download" title="Download CSV" data-toggle="tooltip"> Download Data</i></a></span>
        
        {%else%}
        <p> <span style="text-align:left;">Tournament Started - too late to make picks</span>
        
            <span style="float: right;  ">  
            <a href="#" id="download">
            <i class="fas fa-file-download" title="Download CSV" data-toggle="tooltip"> Download Data</i></a></span></p>
        {%endif%}
        
        {% if error_message %}
          <div class="alert alert-danger">
          <h2>{{error_message}}</h2>
          </div>
        {%endif%}

        {% for group in ordered_field_list%}
        <table id='tbl-group-{{group.grouper.number}}' class="table">
          <th></th>
          <th>Group:  {{group.grouper.number}}
            {%if group.grouper.number == 6 and tournament.last_group_multi_pick%}
             - pick 5 golfers
             {%endif%}
          </th> 
          <th>Name</th>
          <th>OWGR / Prior Result</th> 
          </th>
        {% for player in group.list%}
        <tbody>
              <tr id='player{{player.golfer.espn_number}}'>
              <td hidden id='playerID'>{{player.golfer.espn_number}}</td>
              <td></td>

              {%if tournament.pga_tournament_num == '018'%}
                <!-- Zurich team event -->
              <td> 
                <p>
                  {%if not player.withdrawn%}
                  <form id='pick_form' method="post">
                    {%csrf_token%}
                    <input id="{{player.pk}}" type="radio" class="my-radio" name="group-{{player.group.number}}" value="{{player.id}}">  
                  {%endif%}
                </p>
              </td>
              <td>
                 <p>
                   <span><p> <img src="{{player.golfer.pic_link}}" alt=""> {{player.playerName}}({{player.p1_owgr}})
                   <img src="{{player.golfer.flag_link}}" alt=""> </p>
                   <p> <a href="https://www.google.com/search?q={{player.playerName}}" target="_blank">Google</a> / 
                   <a href="{{player.golfer.golfer_link}}" target="_blank">PGA</a>  </p> 
                 </p>
                 {%if player.partner%}  
                 <p>
                   <img src="{{player.partner_golfer.pic_link}}" alt=""> {{player.partner}} ({{player.partner_owgr}}) 
                   <img src="{{player.partner_golfer.flag_link}}" alt="">
                   <p> <a href="https://www.google.com/search?q={{player.partner}}" target="_blank">Google</a> /
                   <a href="{{player.partner_golfer.golfer_link}}" target="_blank">PGA</a></span>{%endif%} </p>  
                  </p>
                 <p> </p></td>
                 <td > <p>Team OWGR: {{player.currentWGR}} </p>
            </td>

              {%else%}
              {%if player.withdrawn%}
                <td style="text-decoration: line-through;"> {{player.playerName}} {%if player.partner%} &  {{player.partner}} {%endif%}  </td>
              {%else%}
                <td> 
                  <p>
                  {%if not player.withdrawn%}
                  <form id='pick_form' method="post">
                    {%csrf_token%}
                    
                    {%if player.group.number == 6 and tournament.last_group_multi_pick%}
                    <input class="my-checkbox" id="{{player.pk}}" type="checkbox" name="multi-group-{{player.group.number}}" value="{{player.id}}">  
                    {%else%} 
                    <input id="{{player.pk}}" type="radio" class="my-radio" name="group-{{player.group.number}}" value="{{player.id}}">  
                    {%endif%}
                   {%endif%}
                
                  </p>

                  <p>
                   <img src="{{player.golfer.pic_link}}" alt=""> 
                  </p>
                </td>
                  <td> <p> {{player.playerName}} <img height='25' src="{{player.golfer.flag_link}}" alt="">{%if player.partner%} &  {{player.partner}} {%endif%} </p>  
                   <p><a href="https://www.google.com/search?q={{player.playerName}}" target="_blank">Google</a> / <a href="{{player.golfer.golfer_link}}" target="_blank">PGA</a> </p> </td>
              <td class="small"> <p>cur: {{player.currentWGR}} </p>
                   <p> prior: {{player.sow_WGR}} </p>
                   <p> soy: {{player.soy_WGR}} </p>
                   <p id='prior{{player.golfer.espn_number}}'>loading...</p>
                   <p id='recent{{player.golfer.espn_number}}'>loading...</p>
                   <p> <a href="#" data-toggle="tooltip" title="Deducted from score"><i class="fa fa-info-circle"></i> handicap: {{player.handicap}} </a> </p>
              </td>
              {%endif%} 
              {%endif%}
            </tr>
          </tbody>
              {%endfor%}
          </table>
          {%endfor%}
<div id='pick-status'></div>
  <input type="hidden" name="userid" value="{{user.id}}">
  {%if not tournament.started or tournament.late_picks%}
    <input id='sub_button' type="submit" class="btn btn-secondary" value="Submit" >
  {%endif%}

</form>

<div class="hidden" id='old_picks' hidden>
  <ul>
  {%for pick in picks%}
    <li>{{pick}}</li>
  {%endfor%}
  </ul>
</div>


{% endblock %}
