{% extends "golf_app/golf_app_base.html" %}
{%load static%}
{%load golf_extras%}
{%load compress%}
{% block body_block %}


    
{%compress js%}
<script type="text/javascript" src="{%static 'golf_app/js/field_sect_1.js'%}"></script>  
{%endcompress%}


<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

<p hidden id='tournament_key'>{{tournament.pk}}</p>
<p hidden id='pga_t_num'>{{tournament.pga_tournament_num}}</p>

{%if tournament.pga_tournament_num == '999'%}
    <script type="text/javascript" src="{%static 'golf_app/js/olympic_countries.js'%}"></script> 
{%endif%}

<h2 id="t-name">{{tournament.name}}</h2>

{%if tournament.field_quality == 'major'%}
    <h43>Major - 150 bonus points for the winning picks</h4>
{%elif tournament.field_quality == 'strong'%}
    <h4>Strong Field - 100 bonus points for the winning picks</h4>
{%elif tournament.field_quality == 'weak'%}
    <h4>Weak Field - 50 bonus points for the winning picks</h4>
{%else%}
    <h4>Field Quality Not Available</h4>
{%endif%}


<div id=withdraw></div>
<div id='espn_missing'></div>

{%if not t_started or tournament.late_picks%}
    <div id="'top-sect">
    <br>
    <form name="random" method="post">
        {%csrf_token%}
        <input type="text" name="random" value="random" hidden>
        <h5>Click for random picks  <input onclick="create_post_random()" class="btn btn-primary" value="Random Picks"></h5>
    </form>

    <span style="float: right;" >
        <a href="#" id="download_excel" >
        <i class="fas fa-file-download" title="Download Excel" data-toggle="tooltip"> Download Excel</i>
        </a>
    </span>
{%else%}
<p>
    <span style="float: right;">  
    <a href="#" id="download_excel">
    <i class="fas fa-file-download" title="Download Excel" data-toggle="tooltip"> Download Excel</i>
    </a>
    </span>
</p>
{%endif%} 

<h2 id='error_msg'></h2>

</div>
<div id="status"><h4>Loading Data <span class="status">....</span></h4></div>


<!-- NEW CODE -->

{%for group in page_obj%}
<table class="table"  id="tbl-group-{{group.number}}" >
    <thead class="total_score">
    <tr>
        <th colspan="2"><p>Group  {{group.number}} - Pick {{group.num_of_picks}} Golfers</p> 
                    <span style="font-size: smaller;"><p>Click select box to pick, click anywhere on player info for stats</p></span>
        </th>
    </tr>
    </thead>


<script type="text/javascript">
    field = '{{field}}'
    console.log(field.pk['{{group.pk}}'])


</script>    
    <tr id="golfer-{{f.pk}}" class="border rounded border-2" >
        <td id="input-{{f.pk}}" width='2%'>
        
        <script type="text/javascript">
            var ele = $('#input-' + '{{f.pk}}')
            var num_of_picks = '{{group.grouper.num_of_picks}}'
            var started_golfers = '{{started_golfers}}'
            var picks = '{{picks}}'
            var lock_groups
            
            ele.html('<p id=input_msg-{{f.pk}}></p> <p><input type="hidden" name="csrfmiddlewaretoken" value="{{csrf_token}}"></p>')
                           
            if (num_of_picks == 1)
                {ele.html(ele.html() + '<p style="float:right;"><input id="{{f.pk}}" type="radio" class="my-checkbox form-check-input" name="group-{{group.grouper.number}}" value="{{f.pk}}" onchange="get_info({{info}}, this)"></p>')}           
            else                    
                {ele.html(ele.html() + '<p style="float:right;"><input id="{{f.pk}}" type="checkbox" class="my-checkbox form-check-input" name="group-{{group.grouper.number}}" value="{{f.pk}}" onchange="get_info({{info}}, this)"></p>')}

            
            if ('{{f.withdrawn}}' == 'True') {$('#input_msg-{{f.pk}}').text('WD');
                                                          $('#golfer-{{f.pk}}').css('background-color', 'lightgray')
                                                          $('#{{f.pk}}').prop('disabled', true)}
            else if ((started_golfers.indexOf('{{f.golfer.espn_number}}' != -1) || lock_groups.indexOf('{{group.grouper.number}}') != -1)  && '{{tournament.late_picks}}' != 'True') {
                                                                        $('#input_msg-{{f.pk}}').text('Started');
                                                                        $('#golfer-{{f.pk}}').addClass('started')
                                                                        $('#{{f.pk}}').prop('disabled', true)
                                                                                                                            }
            
            if (picks.indexOf('{{f.pk}}') != -1) {$('#{{f.pk}}').prop('checked', true)}
           
        </script>
</td>

        <td id="playerInfo{{f.golfer.espn_number}}" onclick="showStats('{{f.pk}}', '{{f.golfer.espn_number}}')">
            
            <p>
                {%if field_d.fedex_pick %} 
                    <span><img style='width:50px;' src="{%static '/img/fedex.jpg'%}" alt=""></span>
                {%endif%}
                <img src="{{f.golfer.pic_link}}">
                <span style="font-weight: bold;">{{f.playerName}} </span>
                <img src="{{f.golfer.flag_link}}" alt="">
            </p>
            <p>
                <a href="https://www.google.com/search?q={{f.playerName}}" target="_blank">Google</a>
                <a href="{{f.golfer.espn_link}}" target="_blank">/ESPN</a>
                <a href="{{f.golfer.get_pga_player_link}}" target="_blank">/PGA</a>
                <i id="expand-{{f.pk}}" class='fa fa-plus-circle expand' style="float:right;">Show Golfer Stats</i></span>
            </p>    
            <p style="font-weight: bold;">
                    OWGR: {{f.currentWGR}} ;
                    Handicap: {{f.handi}} ;
                    {%if f.season_stats.fed_ex_rank != 'n/a' %}
                    FedEx: {{f.season_stats.fed_ex_rank}} / {{f.season_stats.fed_ex_points}} ;
                    {%else%}
                    FedEx: n/a ;
                    {%endif%}
                    Prior Year: {{f.prior_year}}
            </p>
        </td>
    </tr>
  
    <tr id="stats_row-{{f.pk}}" class="stats_row" hidden><td colspan="2">Loading data....</td></tr>
    

{%endfor%}    
    

</table>

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

<!-- END NEW CODE -->

<!-- <div id="field_sect">
<form action="post" name="pick_form" id="pick_form">
{% regroup field by group as ordered_field_list %}

{%for group in ordered_field_list%}
    
    <table class="table"  id="tbl-group-{{group.grouper.number}}" >
        <thead class="total_score">
        <tr>
            <th colspan="2"><p>Group  {{group.grouper.number}} - Pick {{group.grouper.num_of_picks}} Golfers</p> 
                        <span style="font-size: smaller;"><p>Click select box to pick, click anywhere on player info for stats</p></span>
            </th>
        </tr>
        </thead>
    
    
    {%for f in group.list%}
        
        <tr id="golfer-{{f.pk}}" class="border rounded border-2" >
            <td id="input-{{f.pk}}" width='2%'>
            
            <script type="text/javascript">
                var ele = $('#input-' + '{{f.pk}}')
                var num_of_picks = '{{group.grouper.num_of_picks}}'
                var started_golfers = '{{started_golfers}}'
                var picks = '{{picks}}'
                var lock_groups
                
                ele.html('<p id=input_msg-{{f.pk}}></p> <p><input type="hidden" name="csrfmiddlewaretoken" value="{{csrf_token}}"></p>')
                               
                if (num_of_picks == 1)
                    {ele.html(ele.html() + '<p style="float:right;"><input id="{{f.pk}}" type="radio" class="my-checkbox form-check-input" name="group-{{group.grouper.number}}" value="{{f.pk}}" onchange="get_info({{info}}, this)"></p>')}           
                else                    
                    {ele.html(ele.html() + '<p style="float:right;"><input id="{{f.pk}}" type="checkbox" class="my-checkbox form-check-input" name="group-{{group.grouper.number}}" value="{{f.pk}}" onchange="get_info({{info}}, this)"></p>')}
    
                
                if ('{{f.withdrawn}}' == 'True') {$('#input_msg-{{f.pk}}').text('WD');
                                                              $('#golfer-{{f.pk}}').css('background-color', 'lightgray')
                                                              $('#{{f.pk}}').prop('disabled', true)}
                else if ((started_golfers.indexOf('{{f.golfer.espn_number}}' != -1) || lock_groups.indexOf('{{group.grouper.number}}') != -1)  && '{{tournament.late_picks}}' != 'True') {
                                                                            $('#input_msg-{{f.pk}}').text('Started');
                                                                            $('#golfer-{{f.pk}}').addClass('started')
                                                                            $('#{{f.pk}}').prop('disabled', true)
                                                                                                                                }
                
                if (picks.indexOf('{{f.pk}}') != -1) {$('#{{f.pk}}').prop('checked', true)}
               
            </script>
    </td>

            <td id="playerInfo{{f.golfer.espn_number}}" onclick="showStats('{{f.pk}}', '{{f.golfer.espn_number}}')">
                
                <p>
                    {%if field_d.fedex_pick %} 
                        <span><img style='width:50px;' src="{%static '/img/fedex.jpg'%}" alt=""></span>
                    {%endif%}
                    <img src="{{f.golfer.pic_link}}">
                    <span style="font-weight: bold;">{{f.playerName}} </span>
                    <img src="{{f.golfer.flag_link}}" alt="">
                </p>
                <p>
                    <a href="https://www.google.com/search?q={{f.playerName}}" target="_blank">Google</a>
                    <a href="{{f.golfer.espn_link}}" target="_blank">/ESPN</a>
                    <a href="{{f.golfer.get_pga_player_link}}" target="_blank">/PGA</a>
                    <i id="expand-{{f.pk}}" class='fa fa-plus-circle expand' style="float:right;">Show Golfer Stats</i></span>
                </p>    
                <p style="font-weight: bold;">
                        OWGR: {{f.currentWGR}} ;
                        Handicap: {{f.handi}} ;
                        {%if f.season_stats.fed_ex_rank != 'n/a' %}
                        FedEx: {{f.season_stats.fed_ex_rank}} / {{f.season_stats.fed_ex_points}} ;
                        {%else%}
                        FedEx: n/a ;
                        {%endif%}
                        Prior Year: {{f.prior_year}}
                </p>
            </td>
        </tr>
      
        <tr id="stats_row-{{f.pk}}" class="stats_row" hidden><td colspan="2">Loading data....</td></tr>
        
    
    {%endfor%}    
        
    
    </table>
{%endfor%}
</form>

</div> -->

<script type="text/javascript" src="//unpkg.com/xlsx/dist/xlsx.full.min.js"></script>

<!-- {%compress js%}
<script type="text/javascript" src="{%static 'golf_app/js/field_sect.js'%}"></script> 
{%endcompress%}
<script type="text/javascript" src="//unpkg.com/xlsx/dist/xlsx.full.min.js"></script>
{%compress css%}
<link rel="stylesheet" href='{%static "golf_app/css/load.css"%}'> 
{%endcompress%}

{%if tournament.pga_tournament_num != "470" and tournament.pga_tournament_num != "018" and tournament.pga_tournament_num != "468"%}
<script type="text/babel" src="{%static 'test_app/src/withdraw.js'%}"></script> 
{%endif%} 
<script type="text/babel" src="{%static 'test_app/src/check_espn_num.js'%}"></script> 
 -->


{%endblock%}