<!DOCTYPE html>
{%load static%}
{%load compress%}

<html lang="en" dir="ltr">
  <head>

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-159808963-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
        
          gtag('config', 'UA-159808963-1');
        </script>
    
    <meta charset="utf-8">


    
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
      <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
      <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Bree+Serif|Markazi+Text|Fira+Sans:100|Lato:300,400" rel="stylesheet">

      <script src="https://kit.fontawesome.com/013842494a.js" crossorigin="anonymous"></script>
        {%compress css%}
      <link rel="stylesheet" href={%static "fb_app/css/my_style.css" %}>
      {%endcompress%}
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, minimum-scale=1.0">
    
      
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
      <!-- <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script> -->
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
   
      <!-- react cdns -->
      <script crossorigin src="https://unpkg.com/react@16/umd/react.production.min.js"></script>
      <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"></script>
      <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.1.0/chart.min.js" integrity="sha512-RGbSeD/jDcZBWNsI1VCvdjcDULuSfWTtIva2ek5FtteXeSjLfXac4kqkDRHVGf1TwsXCAqPTF7/EYITD0/CTqw==" crossorigin="anonymous"></script>


    <link rel="icon" type="image/png" sizes="16x16" href="{%static '/favicon/golf.ico'%}">

    <title>Golf Game!</title>
  </head>
  <body>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-md navbar-light bg-light">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">


          <ul class="navbar-nav mr-auto">
            <li class="nav-item btn btn-outline-secondary"> <a class='navbar-brand' href="{% url 'index' %}">Home</a>  </li>
            <li class="nav-item btn btn-outline-secondary"> <a class="navbar-link" href="{% url 'golf_app:new_field_list_1' %}">Make Picks</a> </li>
            <li class="nav-item btn btn-outline-secondary"> <a class="navbar-link" href="{% url 'golf_app:picks_list'%}">View Picks</a> </li>
            <!-- <li class="nav-item btn btn-outline-secondary"> <a class="navbar-link" href="{% url 'golf_app:new_scores'%}">Current Week Score</a> </li> -->
            <li class="nav-item btn btn-outline-secondary"> <a class="navbar-link" href="{% url 'golf_app:api_scores_view'%}">Current Week Score</a> </li>
            <li class="nav-item btn btn-outline-secondary"> <a class="navbar-link" href="{% url 'golf_app:total_score'%}">Total Scores</a> </li>
            <li class="nav-item btn btn-outline-secondary"> <a class="navbar-link" href="{% url 'golf_app:fedex_picks_view'%}">FedEx Picks</a> </li>
            <li class="nav-item btn btn-outline-secondary"> <a class="navbar-link" href="{% url 'golf_app:all_time'%}">All Time Stats</a> </li>
            <li class="nav-item btn btn-outline-secondary"> <a class="navbar-link" href="{% url 'golf_app:about'%}">About</a> </li>
 
          </ul>
        </div>
        </nav>
    </div>


    <div class="container-fluid">
      
          {%block body_block%}

          {%endblock%}
    </div>
  </body>
</html>
