{% extends "golf_app/golf_app_base.html" %}
{% block body_block %}
<script type="text/javascript" src="{%static 'golf_app/js/load.js'%}"></script>
<link rel="stylesheet" href={%static "golf_app/css/scores.css" %}>

<table class="table">
    <thead>

        <th>Player</th>
        <th>Score</th>
    </thead>
    <tbody>
        {%for score in total_scores%}
        <tr>

            <td>{{score.user.username}}</td>
            <td>{{score.score}}</td>
        </tr>
        {%endfor%}
    </tbody>
</table>

<h3 class="p-3 mb-2 bg-secondary text-white">Score  Details</h3>

<table class='table'>
    <thead>
        <th>Player</th>
        <th>Group</th>
        <th>Golfer</th>
        <th>Rank</th>
    </thead>
    <tbody>
        {%for pick in object_list%}
        <tr>
        <td>{{pick.user.username}}</td>
        <td>{{pick.playerName.group.number}}</td>
        {%if pick.is_winner%}
        <td style='color: red'>{{pick.playerName}}</td>
        {%else%}
        <td>{{pick.playerName}}</td>
        {%endif%}
        <td>{{pick.score}}</td>
        {%endfor%}
    </tr>
</tbody>
</table>


    
    {{form}}
</form>

{% endblock%}