{% extends "golf_app/golf_app_base.html" %}
{%load static%}
{% block body_block %}
{%load golf_extras%}


<h2>{{tournament.name}}</h2>


<table class="table table-bordered">
  <thead class='thead-dark'>
    <th>Group</th>
    <th>Player</th>
    <th>Pick</th>
    <th>OWGR</th>
  </thead>
<tbody>
{%for pick in picks%}
  <tr>
    <td>{{pick.playerName.group.number}}</td>
    <td>{{pick.user}}</td>
    <td>{{pick.playerName}}</td>
    <td>{{pick.playerName.currentWGR}}</td>
  </tr>

  {%if forloop.counter|line_break %}
    <tr style='background-color: lightblue;'>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  {%endif%}
{%endfor%}
</tbody>

</table>
{%endblock%}
