{% extends "golf_app/golf_app_base.html" %}
{%load static%}
{% block body_block %}
{%load golf_extras%}


<h2>{{tournament.name}}</h2>


<table class="table table-bordered">
  <thead class='thead-dark'>
    <th>Player</th>
    <th>Pick</th>
    <th>OWGR</th>
  </thead>
</table>
{%for pick in picks%}
</table>
{%if forloop.counter|line_break %}
  <table class="table table-bordered">
  <tr style='background-color: lightblue; font-weight: bold;'>
    <td>Group {{pick.playerName.group.number}}</td>
  </tr>
  </table>
{%endif%}

<table class="table table-bordered">
  <tr>
    <td style="width: 15%;">{{pick.user}}</td>
    <td style="width: 30%;">{{pick.playerName}}</td>
    <td style="width: 30%;">{{pick.playerName.currentWGR}}</td>
  </tr>
{%endfor%}

{%endblock%}
