{% extends "golf_app/golf_app_base.html" %}
{%load static%}
{% block body_block %}
{%load golf_extras%}


<h2>{{tournament.name}}</h2>

<table class="table table-bordered">
  <thead class='thead-dark'>
    <th style="width: 15%;">Player</th>
    <th style="width: 15%;">Pick</th>
    <th style="width: 15%;">First Round</th>
    <th style="width: 10%;">Final 16</th>
    <th style="width: 10%;">Final 8</th>
    <th style="width: 10%;">Final 4</th>
  </thead>
</table>
{%for pick in picks%}
</table>
{%if forloop.counter|line_break %}
  <table class="table table-bordered">
  <tr style='background-color: lightblue; font-weight: bold;'>
    <td>Group {{pick.playerName.group.number}}</td>
    <td>Leaders:  {{pick.playerName.group.number|leader}}</td>
  </tr>
  </table>
{%endif%}

<table class="table table-bordered">
  <tr>
    <td style="width: 15%;">{{pick.user.username}}</td>
    <td style="width: 15%;">{{pick.playerName.playerName}} ({{pick.playerName.currentWGR}})</td>
    <td style="width: 15%">{{pick.playerName.playerName|first_round}}</td>
    <td style="width: 10%;">TBD</td>
    <td style="width: 10%;">TBD</td>
    <td style="width: 10%;">TBD</td>
  </tr>
{%endfor%}



{%endblock%}
