{%extends 'golf_app/golf_app_base.html'%}

{%load golf_extras%}
{%block body_block%}
{%load static%}

<div id='status'></div>
<div id='withdraw'></div>


<h2>{{tournament.name}} Picks Status</h2>
<h4>Come back on {{tournament.start_date}} to see scores</h4>
<br>
{%if lookup_errors%}
{%for user, pick in lookup_errors.items%}
<h4 style="background-color:red">Pick missing from score file.  Check withdrawals.</h4>
<ul>
  <li>{{user}}: {{pick}}</li>
</ul>
{%endfor%}
{%endif%}
<br>
<table class="table">
  <thead style="background-color:lightblue">
    <th>Player</th>
    <th>Pick Count</th>
  </thead>
    <tbody>
    {%for user, count in user_dict.items%}
    <tr>
      <td>{{user}}</td>
      <td>{{count}}</td>
    </tr>
    {%endfor%}
    </tbody>
  </table>

  

<script type="text/babel" src="{%static 'test_app/src/started.js'%}"></script>
{%if tournament.pga_tournament_num != "470" and tournament.pga_tournament_num != "018" and tournament.pga_tournament_num != "468"%}
  <script type="text/babel" src="{%static 'test_app/src/withdraw.js'%}"></script>
{%endif%}
<p hidden id="tournament_key">{{tournament.pk}}</p>





{%endblock%}
