{%extends 'golf_app/golf_app_base.html'%}
{%load golf_extras%}
{%load static%}
{%load compress%}
{%block body_block%}
<br>
<h1 class='center'>{{t.name}}</h1>
<br>
{%if t.started%}
<script type='text/javascript' src="{%static 'golf_app/js/ryderCupScores.js'%}"></script>
<div id='overall_score' class='center'><div id='loading'><h3>Loading.....</h3></div></div>

<table id='score_table' class='table'>
    <thead>
    <th>Player</th>
    <th>Score</th>
    <th>Winner/Points</th>
    <th>Group 1</th>
    <th>Group 2</th>
    <th>Group 3</th>
    <th>Group 4</th>
    <th>Group 5</th>
    <th>Group 6</th>
    </thead>
    <tbody id='score_tbl_body'></tbody>

</table>

<div id='detail_table'></div>
{%else%}
<h4>{{t.name}} Not Started, please come back when play begins</h4>
<table class="table">
    <thead>
        <th>Player</th>
        <th>Picks</th>

    </thead>
    <tbody>
        {%for u, p in picks.items%}
            <tr>
                <td>{{u}}</td>
                <td>{{p}}</td>
            </tr>
        {%endfor%}
    </tbody>
</table>
{%endif%}
{%endblock%}