{%extends 'golf_app/golf_app_base.html'%}
{%load golf_extras%}
{%load static%}
{%load compress%}


{%block body_block%}
{%compress css%}
<link rel="stylesheet" href={%static 'golf_app/css/scores.css' %}>
{%endcompress%}
<link href="https://fonts.googleapis.com/css?family=Anton&display=swap" rel="stylesheet">


<p hidden id='tournament_key'>{{t.pk}}</p>
<p hidden id='season_key'>{{t.season.pk}}</p>

{%if lookup_errors%}
  <h4>The following picks have withdrawn or have name lookup issues:</h4>
  {%for key, values in lookup_errors.items%}
  <p>{{key}}:  {{values}}</p>
  {%endfor%}
{%endif%}


<h4>{{t.name}}</h4>

<p id='leader'></p>
<p id='cut_line'></p>
<p id='issues'></p>

<div id='picks_summary'></div>
<div id='picks_info'></div>

<div id='status'><h4>updating scores <span class='status' style="size: 200%;">....</span></h4></div>
<!-- <div id='picks_info'> -->
  <div id=scores-div hidden>
    <table id='totals-table' class='table table-bordered table-sm '>
      <thead>
        <tr style="background-color: lightblue;">
        <th>Player</th>
        <th>Bonus</th>
        {%for g in groups%}
          <th id="grp-colspan-{{g.number}}" colspan="{{g.num_of_picks}}">{{g.number}}</th>
        {%endfor%}
        </tr>
      </thead>
      <tbody>
        {%for p in picks %}
        {%if forloop.counter in new_lines %}
        <tr id=totals{{p.user.username}} class="small">
          <td id=ts_{{p.user.username}} style="font-weight: bold;">{{p.user.username}}</td>
          <td id=msg_{{p.user.username}}>Test</td>
            <td id={{p.pk}} class='{{p.playerName.golfer.espn_number}}'><p><img src="{{p.playerName.golfer.pic_link}}"></img>
            <img height='20' src="{{p.playerName.golfer.flag_link}}" alt=""></img></p>
            <p style="font-weight: bold;">{{p.playerName}}</p>
            <p id='{{p.pk}}-score'>....</p>
          </td>

          {%else%}

            <td id={{p.pk}} class='{{p.playerName.golfer.espn_number}}'><p><img src="{{p.playerName.golfer.pic_link}}"></img>
            <img height='20' src="{{p.playerName.golfer.flag_link}}" alt=""></img></p>
            <p style="font-weight: bold;">{{p.playerName}}</p>
            <p id='{{p.pk}}-score'>....</p>
          </td>
          {%endif%}
        {%endfor%}
        <tr id="big">
          <th>Best Picks</th>
          <td></td>
          {%for g in groups%}
          <td id='big-{{g.number}}'>....</td>
          {%endfor%}
        </tr>
        <tr id="cuts">
          <th>Cuts</th>
          <td></td>
          {%for g in groups%}
          <td id='cuts-{{g.number}}'>....</td>
          {%endfor%}
        </tr>
      </tbody>
    </table>
</div>

<p><a href='https://www.pgatour.com/leaderboard.html' target="_blank">Click for PGA.com Leaderboard</a></p>

<div id='det-list'></div>
 
{%compress js%}

  {%if tournament.pga_tournament_num == '470'%}
  <script type="text/javascript" src="{%static 'golf_app/js/mp_load.js'%}"></script> 
  {%else%}
  <script type="text/javascript" src="{%static 'golf_app/js/api_scores.js'%}"></script>
  {%endif%} 
  <script type="text/javascript" src="{%static 'golf_app/js/getPicksSummary.js'%}"></script> 
{%endcompress%}

{%endblock%}
