{%extends 'golf_app/golf_app_base.html'%}
{%load golf_extras%}
{%load static%}



{%block body_block%}
<!-- <meta http-equiv="refresh" content="120" > -->
<!-- <script type="text/javascript" src="{%static 'golf_app/js/pace.js'%}"></script> -->
<script type="text/javascript" src="{%static 'golf_app/js/scores.js'%}"></script>
<script type="text/javascript" src="{%static 'golf_app/js/load.js'%}"></script>

<link rel="stylesheet" href={%static 'golf_app/css/scores.css' %}>
<link href="https://fonts.googleapis.com/css?family=Anton&display=swap" rel="stylesheet">


<p hidden id='tournament_key'>{{tournament.pk}}</p>

{%if lookup_errors%}
  <h4>The following picks have withdrawn or have name lookup issues:</h4>
  {%for key, values in lookup_errors.items%}
  <p>{{key}}:  {{values}}</p>
  {%endfor%}
{%endif%}


<h4>{{tournament.name}}</h4>

<p id="time">scores as of: <span id="local"> {{tournament.score_update_time}}</span> </p> 
<p id="status" class='status'> ...updating scores...</p>

{%if user.is_superuser%}
<p><a href="{{tournament.field_json_url}}">Field JSON</a></p>
<p><a href="{{tournament.score_json_url}}">Score JSON</a></p>
{%endif%}

<!-- <div class='overlay' id="overlay">
  <label class="cv-spinner" id='spinner'>
       <progress class="spinner">test</progress>
       しばらくお待ちください。
  </label>
</div> -->

<table id='totals-table' class="table table-bordered">
  <thead class='thead-dark style:color=red'>
    <th>Player</th>
    <!-- <th>Score</th>
    <th># of Cut Picks</th> -->
    {%for group in groups%}
    <th>{{group.number}}</th>
    {%endfor%}
  </thead>

<tbody id='totals'>
{%for player in scores%}
  <tr id='totals{{player.user}}'>
    <td id='player'> <p> {{player.user}} {%if player.auto_pick%} - missed pick deadline (no bonuses) {%endif%} </p> 
    <p> {{player.score}} /  {{player.cut_count}}</p>
    
  </tr>
{%endfor%}
</tbody>

</table>
<p></p>
<h3 class="p-3 mb-2 bg-secondary text-white">Tournament Info:</h3>
<p><a href='https://www.pgatour.com/leaderboard.html' target="_blank">Click for Full Leaderboard</a></p>
<!-- {%for player, score in leader_list.items%}

   <p id="leader" style="font-size:100%"> Leader:  {{player}}  : {{score}}</p>

{%endfor%} -->
<p id='leader'></p>
<p id='cut_line'></p>

{%for status, score in cut_data.items%}
  {%if status == 'No cut this week'%}
    <p style="font-size:100%"> {{status}}</p>
  {%else%}
    <p style="font-size:100%"> {{status}} cut score is {{score}}</p>
  {%endif%}
{%endfor%}
<p></p>
<h3 class="p-3 mb-2 bg-secondary text-white">Score  Details</h3>
<!-- 
<div class='load'>
  <label class="pulse" id='pulse'>
      <progress class="pulse-progress">test</progress>
      しばらくお待ちください。
  </label>
  </div> -->
  
  <div class='overlay' id="overlay">
    <label class="cv-spinner" id='spinner'>
         <progress class="spinner">test</progress>
         しばらくお待ちください。
    </label>
 </div>

<div id='det-list'>
 

  <ul class="list-unstyled">

  {%for user, golfers in detail_list.items%}
  <li class="display-4">{{user}}</li>
  <table class="table">
    <thead>
    <th>Golfer</th>
    <th>Current Position</th>
    <th>Score to par</th>
    <th>Current Round Score</th>
    <th>Start of Day Position</th>
    </thead>
    {%for pick in golfers%}
      {% if pick|model_name == 'score details' %}
      {%if pick.pick.is_winner%}
        <tr style="color:red">
          <td>{{pick.pick.playerName}} {%if pick.pick.playerName.partner%} & {{pick.pick.playerName.partner.0}} {%endif%}</td>
          <td>{{pick.score}}</td>
          <td>{{pick.toPar}}</td>
          {%if pick.today_score in thru_list or pick.thru == None%}
            <td>{{pick.today_score}}</td>
          {%else%}
            <td>{{pick.today_score}} thru {{pick.thru}} holes</td>
          {%endif%}
          <td>{{pick.sod_position}}</td>
        </tr>
      {%else%}
        <tr>
          <td>{{pick.pick.playerName}} {%if pick.pick.playerName.partner%} & {{pick.pick.playerName.partner|partner}} {%endif%}</td>
          <td>{{pick.score}}</td>
          <td>{{pick.toPar}}</td>
          {%if pick.today_score in thru_list or pick.thru == None%}
            <td>{{pick.today_score}}</td>
            <!-- <td>{{pick.sod_position}}</td> -->
          {%else%}
            <td>{{pick.today_score}} thru {{pick.thru}} holes</td>
            <td>{{pick.sod_position}}</td>
          {%endif%}
        </tr>
        {%endif%}
      {%elif pick|model_name == 'bonus details'%}
      {%if pick.winner_bonus != 0%}
      <tr style="color:red">
          <td>Winner Bonus</td>
          <td>-{{pick.winner_bonus}}</td>
        </tr>
      {%endif%}
      {%if pick.cut_bonus != 0%}
        <tr style="color:red">
          <td>Cut Bonus</td>
          <td>-{{pick.cut_bonus}}</td>
        </tr>
      {%endif%}
      {%if pick.major_bonus != 0%}
        <tr style="color:red">
          <td>Major Bonus</td>
          <td>-{{pick.major_bonus}}</td>
        </tr>
      {%endif%}

        {%endif%}
      {%endfor%}
  </table>
  {%endfor%}
</ul>
</div>
<h3 class="p-3 mb-2 bg-secondary text-white">Random Data</h3>
<h5>Who you should have picked:</h5>

<table class="table" id='optimal'>
  <thead>
    <th>Group</th>
    <th>Golfer</th>
    <th>Position</th>
  </thead>
  <tbody>
    {%for group, player in optimal_picks.items%}
    <tr>
      <td>Group: {{group.number}}</td>
      {%for data in player%}
      <td>{{data}}</td>
      {%endfor%}
    </tr>
    {%endfor%}
    <tr>
      <!-- <td>Total</td>
      <td></td>
      <td>{{best_score}}</td> -->
    </tr>
  </tbody>
</table>
<br>
<h5>Cuts Per Group:</h5>
<table class="table" id='cuts'>
  <thead>
    <th>Group</th>
    <th>Cuts</th>
    <th>Group Size</th>
  </thead>
  <tbody>
    {%for g, n in cuts.items%}
    <tr>
      <td>Group {{g.number}}:</td>
      {%for d in n%}
      <td>{{d}}</td>
      {%endfor%}
    </tr>
    {%endfor%}
  </tbody>
</table>


{%endblock%}
