{%extends 'golf_app/golf_app_base.html'%}
{%load golf_extras%}
{%load static%}
{%block body_block%}
</div>
<div>
<script type="text/javascript" src="{%static 'golf_app/js/total_score_chart.js'%}"></script> 
<script type="text/javascript" src="{%static 'golf_app/js/fedex_points.js'%}"></script> 

<p id='season_id' hidden>{{season.pk}}</p>
<p id='user' hidden>{{request.user.username}}</p>
<div id='chart'>
  <label for="show_T">Tournaments in Chart </label>
  <select class=form-select name="show_t" id="show_t" onchange="draw_chart()">
    <option value="all">All</option>
    <option value="5">Last 5</option>
    <option value="10">Last 10</option>
  </select>
  <div id='chart-sect' class="table-responsive">
  <h4 id='chart_status_msg' class='status'>Loading Chart ...</h4>
  <canvas id='trend_chart' class='chart-style'></canvas>
</div>
</div>
<div>
  <br>
  <h3>Totals and Tournament Results</h3>
  <br>
</div>
<table class="table">
<thead>
  <th>Tournament</th>
  {%for user in user_list%}
  <th>{{user}}</th>
  {%endfor%}
  <th>Winner</th>
  <tr style="background-color: lightblue">
  <th>Prize $</th>
  {%for user, prize in prize_list.items%}
  <td>{{prize|currency}}</td>
  {%endfor%}
  <td></td>
  </tr>
  <tr style="background-color: lightblue">
    <th>Season Rank</th>
    {%for rank in rank_list%}
    <td>{{rank}}</td>
    {%endfor%}
    <td></td>
    </tr>
  
  <tr style="background-color: lightblue">
    <th>Weekly Point Total</th>
    {%for total in totals_list%}
    <td>{{total}}</td>
    {%endfor%}
    <td></td>
  </tr>
  <tr id='fedex_scores'style="background-color: lightblue">
    <th><a href="{%url 'golf_app:fedex_picks_view'%}">FedEx</th>
      {%for user in user_list%}
        <td id='fedex_{{user.username}}'>...</td>
      {%endfor%}
      <td></td>
  </tr>
  <tr id='season_total'style="background-color: lightblue">
    <th>Total Score</th>
      {%for user in user_list%}
        <td id='total_{{user.username}}'>...</td>
      {%endfor%}
      <td></td>
  </tr>


</thead>
<tbody>
  <tr>
  {%for t, score in display_dict.items%}
  {%if t == 'totals'%}
  <td>Totals:</td>
  {%else%}
  {%if t.pga_tournament_num == '468'%}
  <td> <a href="{%url 'golf_app:ryder_cup_scores'%}">{{t.name}}</td>
  {%else%}
  <td> <a href="{%url 'golf_app:new_scores' pk=t.pk %}">{{t.name}}</td>
  {%endif%}
  {%endif%}
  {%for s in score%}
    {%if t != "totals"%}
      {%if s.score%}
      <td>{{s.score}}</td>
      {%endif%}
      {%if s.username%}
      <td>{{s.username}}</td>
      {%endif%}
    {%else%}
      <td>{{s}}</td>
    {%endif%}
  {%endfor%}

  </tr>
  {%endfor%}
</tbody>
</table>


{%endblock body_block%}
