{%extends 'golf_app/golf_app_base.html'%}
{%load static%}
{%block body_block%}


<h1>Run Setup</h1>

        {% if error_msg %}
          <div class="alert alert-danger">
          <h2>{{error_msg}}</h2>
          </div>

        {%endif%}

<form  method="post" onsubmit='event.preventDefault();'>
  {%csrf_token%}
  <label for="tournament_number">PGATour.com Tournament Number:  </label>
  <input id='pga_t_num' type="text" class="input-group-text" name="tournament_number" value={{pga_t_num}}>
  <p></p>
  <label for="espn_t_num">ESPN.com Tournament Number:  </label>
  <input id='espn_t_num' type="text" class="input-group-text" name="espn_t_num" value={{espn_t_num}}>
  <p></p>
  <input type="submit" class="btn btn-primary" value="Run Setup" id='sub-button'>
</form>
<br>

<button class='btn btn-primary' id='update_stats' onclick="fieldUpdates()">Update Field Stats</button>
<button class='btn btn-primary' id='update_stats' onclick="golferResultsUpdates()">Update Golfer Results</button>
<button class='btn btn-primary' id='update_stats' onclick="emailReport('john')">Email John</button>
<button class='btn btn-primary' id='email_report' onclick="emailReport('all')">Email All</button>
<br>
<br>
<p id="first_golfer_key" hidden>{{first_golfer.pk}}</p>
<p id="last_golfer_key" hidden>{{last_golfer.pk}}</p>
<p id="first_field_key" hidden>{{first_field}}</p>
<p id="last_field_key" hidden>{{last_field}}</p>
<div id='status'><h4>Status</h4></div>

<p>Current Tournament Number:  <span  id='db_t_num'>{{tournament.pga_tournament_num}}</span></p>
<p>PGA Status file:  {{status}}</p>
<br>

<div id="setup_div" >
  <table id="setup_table" class="table">
    <thead>
      <th>Step</th>
      <th>Status</th>
    </thead>
    <tbody>
      <tr>
        <td>Field Setup</td>
        <td id="field_setup_status">....</td>
      </tr>
      <tr>
        <td>Field Stats Updates</td>
        <td id="field_stats_update_status">....</td>
      </tr>
      <!-- <tr>
        <td>Golfer Stats Updates</td>
        <td id="golfer_stats_update_status">....</td>
      </tr> -->
    </tbody>
  </table>

  <table id="sd_status_table" class="table">
    <thead>
      <th>Tournament</th>
      <th>SD Valid?</th>
    </thead>
    <tbody id="sd_status_tbody">

    </tbody>
  </table>
</div>


<h5>Current Event</h5>

<table class='table'>
  <thead>
    <th>Name</th>
    <th>Start Date</th>
    <th>Status</th>
    <th>Link</th>
  </thead>
  <tr>
    <td>{{curr_event.name}}</td>
    <td>{{curr_event.startDate}}</td>
    <td>{{curr_event.status}}</td>
    <td><a href="{{curr_event.link}}">{{espn_t_num}}</a></td>
  </tr>
</table>


<br>
<h5>ESPN Full Schedule</h5>
<table class='table'>
  <thead>
    <th>Name</th>
    <th>Start Date</th>
    <th>Status</th>
    <th>Link</th>
  </thead>
{%for t, data in espn_sched.items%}
  <tr>
    <td>{{t}}</td>
    <td>{{data.start_date}}</td>
    <td>{{data.status}}</td>
    <td><a href="{{data.link}}">{{data.link}}</a></td>
  </tr>

{%endfor%}
</table>
<script type="text/javascript" src="{%static 'golf_app/js/setup.js'%}"></script> 

{%endblock%}
