{% extends "fb_app/base.html" %}
{% block body_block %}
<h1>Game Rules and Logic</h1>

<h3>Finances</h3>
<p>$200 per player.  There are 8 of us, so $1600 total pot.  Weekly winner will get $25 and the app will keep a running point total for the season.  Low score for the full season wins $940, seond place wins $235.  Any ties result in a split of the pot for the week/year.</p>

<h3>Logic:</h3>
<p>The goal is to have the lowest point total.  Pick the winner for each game (straight up, no spread).  If your pick does not win, you get that many points added to your score.  Ties are a loss.</p>
<p>The pick you are most confident in should be #16.  Least confidence, the lowest number pick.  In bye weeks the low numbers are cut, so each week has a 16 pick and the low number will change from 1-3 depending on the number of byes.  </p>

<h3>Pick Deadline</h3>
<p>The deadline is the start of the first game of the week.  If you fail to make picks the default is the underdogs in reverse order based on the spread.</p>
<p>Please try to pick early as the NFL may mark a game as started an hour or so before kickoff.</p>
{%endblock%}
