{% extends "fb_app/base.html" %}
{% block body_block %}
<h1>Game Rules and Logic</h1>

<h3>Finances</h3>
<p>$200 per player.  There are 9 of us, so $1800 total pot.  Weekly winner will get $30 and the app will keep a running point total for the season.  Low score for the full season wins $1032, seond place wins $258 (80% and 20% of the remaining).  Any ties result in a split of the pot for the week/year.</p>
<p>Note - there is a $30 web hosting fee deducted from the winners prize (John's crappy programming is free) </p>

<h3>Logic:</h3>
<p>The goal is to have the lowest point total.  Pick the winner for each game (straight up, no spread).  If your pick does not win, you get that many points added to your score.  Ties are a loss.</p>
<p>The pick you are most confident in should be #16.  Least confident, the lowest number pick.  In bye weeks the low numbers are cut, so each week has a 16 pick and the low number will change from 1-3 depending on the number of byes.  </p>

<h3>Pick Deadline</h3>
<p>The deadline is the start of the first game of the week.  If you fail to make picks the default is the underdogs in reverse order based on the spread.</p>
<p>Please try to pick early as the NFL may mark a game as started an hour or so before kickoff.</p>
{%endblock%}

<h3>Cancelled Games</h3>
<p>Any game that is cancelled after picks are made will be deleted and all picks below that pick number will have 1 added to them.  For example if your number 3 pick is for a cancelled game, pick pick 2 becomes pick 3, pick 1 becomes pick 2 and there is no pick 1 for that week. </p>
