{%extends "fb_app/base.html"%}

{%load mathfilters%}
{%load static%}
{%load fb_extras%}

{%block body_block%} 

<h1>Pick Results by Team</h1>

<div id=player class="mb-4 mt-4">
    <h3 class="mb-3">Select Player: </h3>

    <select class="form-select" style="width:20em;" id="player-select" onchange="change_selected()"> 
    {%for player in player_list%}
    {%if not user.is_authenticated and player.name.username == 'MILT'%}
    <option selected value="{{player.name.pk}}">{{player.name.username}}</option>
    {%elif user.username == player.name.username%}
    <option selected value="{{player.name.pk}}">{{player.name.username}}</option>
    {%else%}
    <option value="{{player.name.pk}}">{{player.name.username}}</option>
    {%endif%}
    {%endfor%}
</select>
<p></p>
<p>Logic:
 <p>Pick and win = win </p>
 <p>Pick opponent and oppent wins = win </p>
 <p>Pick and lose = loss </p>
 <p>Pick opponent and team wins = loss </p>
</p>
</div>

<div id='stats' class='status' >
    Loading...
</div>

<style>
#table-dtl .summary-row:hover { 
    background-color: #F2F2F2; 
} 

#table-dtl .hidden_row { 
    display: none; 
} 

.pop-out {
    background-color: lightblue;
    
}

.highlight {
  
    font-weight: bold;
}

.center {
    text-align: center;
}

</style>


<script>

function get_all_team_stats(player_key) {
    
    const xhr = new XMLHttpRequest()
    const method = "GET"
    //const player = document.getElementById('player-select')
    //console.log(player)
    const url = "/fb_app/all_team_results/" + player_key 
    const responseType = "json"

    xhr.responseType = responseType
    xhr.open(method, url)
    xhr.onload = function () {
        const serverResponse = xhr.response
        const stats = serverResponse.response
        build_screen(stats)
    }

    xhr.send() 

    }

//can this be a single function wiht more options?
//function get_details(player_key, team) {
function get_details(team) {

    var sel = document.getElementById('player-select')
    var opts = sel.selectedIndex
    player_key = sel[opts].value

    console.log('get details', team, player_key )
    
    fetch("/fb_app/detailed_results/" + player_key + '/' + team,
            {method: "GET",
            })
        .then((response) =>  response.json())
        .then((responseJSON) => {
            console.log(responseJSON)
            buildDtlRow(responseJSON.response, team, player_key)
        })
    }


function build_screen(stats) {
    playerData = stats.player_data 
    leagueData = stats.league_data 
    
    finalString = '<table id=table-dtl class=table>' + 
                '<tr> <th style="text-align:center; background-color:lightblue;"> </th> <th colspan=3 style="text-align:center; background-color:lightblue;"> Your Picks </th>' +
                      '<th colspan=3 style="text-align:center; background-color:lightblue;"> League Picks </th> </tr>' +
                '<tr> <th>Team</th> <th><span style=color:green;><i class="fas fa-check-circle"></i> </span></th>  <th><span style=color:red;> <i class="fas fa-times-circle"></i></span> </th> <th> Win % </th> <th> <span style=color:green;><i class="fas fa-check-circle"></i> </span></th> <th><span style=color:red;> <i class="fas fa-times-circle"></i></span> </th>  <th>Win % </th> </tr>' 
                
    var i;
    for (i=0; i < Object.keys(playerData).length; i++) {
        currentItem = formatEle(Object.entries(playerData)[i],  leagueData[Object.keys(playerData)[i]])
        finalString += currentItem

        }
    ele = document.getElementById('stats')
    ele.classList.remove('status')
    ele.innerHTML = finalString
}

function formatEle(playerD, leagueD) {
    console.log(playerD)
    var formattedEle = "<tr id=" + playerD[0] + " class=summary-row"  + " onclick=get_details('" + playerD[0] +"')> <td> <span>" + playerD[0] + " <i class='fas fa-plus-circle fa-sm' style='color:lightblue;'></i> </span> </td>" +
                                 "<td>" + playerD[1].right + "</td>" +
                                 "<td>" + playerD[1].wrong + "</td>" +
                                 "<td>" + playerD[1].win_percent + "</td>" +
                                 "<td>" + leagueD.right + "</td>" +
                                 "<td>" + leagueD.wrong +  "</td>" +
                                 "<td>" + leagueD.win_percent + "</td> </tr>" +
                       "<tr id=details-" + playerD[0] + "-1 class='hidden_row pop-out highlight'>" +
                                 "<td class=center>Picked</td>" +  "<td id=picked-won-" + playerD[0] + "> </td>" + 
                                 "<td id=picked-lost-" + playerD[0] + "></td>  <td> </td> " +
                                 "<td id=all-picked-won-" + playerD[0] + "></td>  " +
                                 "<td id=all-picked-lost-" + playerD[0] + "></td> " +
                                 "<td> </td> </tr>" +

                        "<tr id=details-" + playerD[0] + "-2 class='hidden_row pop-out highlight'>" +
                        "<td class=center>Against</td>" + "<td id=loss-against-" + playerD[0] + ">" + "</td>" +
                        "<td id=won-against-" + playerD[0] + ">" + "</td> <td> </td>" + 
                        "<td id=all-loss-against-" + playerD[0] + ">" + "</td>" +
                        "<td id=all-won-against-" + playerD[0] + ">" + "</td>" +
                        "<td> </td> </tr>" 



    

    return formattedEle
}

//const stats = get_team_stats()
const stats = change_selected()

function getSelectedPlayer() {
    var sel = document.getElementById('player-select')
    var opts = sel.selectedIndex
    player_key = sel[opts].value
    return player_key
}


function change_selected() {
    player = getSelectedPlayer()
    console.log(player)
    get_all_team_stats(player)
}

/* window.onload = function() {
document.getElementById('stats').onclick = function(event) {
    console.log('clicked', event.target.parentElement.id, player)
    team = event.target.parentElement.id
    var sel = document.getElementById('player-select')
    var opts = sel.selectedIndex
    player = sel[opts].value
    details = get_details(player, team)

}}
 */
function buildDtlRow(details, team, player) {
    console.log('dtl', details.player_stats, team)
    
    wonPicked = document.getElementById('picked-won-' + team)
    wonPicked.innerHTML = details.player_stats.picked_and_won + ' pts: +' + details.player_stats.points_won
    allWonPicked = document.getElementById('all-picked-won-' + team)
    allWonPicked.innerHTML = details.league_stats.picked_and_won
    
    lossAgainst = document.getElementById('loss-against-' + team)
    lossAgainst.innerHTML = details.player_stats.picked_against_lost 
    allLossAgainst = document.getElementById('all-loss-against-' + team)
    allLossAgainst.innerHTML = details.league_stats.picked_against_lost


    lostPicked = document.getElementById('picked-lost-' + team)
    lostPicked.innerHTML = details.player_stats.picked_and_lost + ' pts: -' + details.player_stats.points_lost
    allLostPicked = document.getElementById('all-picked-lost-' + team)
    allLostPicked.innerHTML = details.league_stats.picked_and_lost
    
    wonAgainst = document.getElementById('won-against-' + team)
    wonAgainst.innerHTML = details.player_stats.picked_against_won
    allWonAgainst = document.getElementById('all-won-against-' + team)
    allWonAgainst.innerHTML = details.league_stats.picked_against_won




        $('#details-' + team + '-1').toggle()
        $('#details-' + team + '-2').toggle()}


</script>

{%endblock body_block%}