<!DOCTYPE html>
{%load static%}
{%load compress%}
<html lang="en" dir="ltr">
<head>
  
  <meta charset="utf-8">
  <!-- JavaScript Bundle with Popper -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Bree+Serif|Markazi+Text|Fira+Sans:100|Lato:300,400" rel="stylesheet">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> 
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/013842494a.js" crossorigin="anonymous"></script>
  <link rel="icon" type="image/png" sizes="16x16" href="https://www.no3.co.jp/dist/ico/favicon.ico">
{%compress css%}
  <link rel="stylesheet" href={%static "css/my_style.css" %}>
{%endcompress%}



<title>Football Pool</title>
</head>
<body>
      <div class="w-100 ">
        <nav class="navbar nav navbar-expand-md bg-primary navbar-dark ">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02" >
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class='navbar-brand' href="{% url 'index' %}">
                <i class="fas fa-home ps-3"></i>
              </a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'fb_app:games_list' %}">
                <i class="fas fa-edit">Make Picks</i>
              </a> 
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'fb_app:picks_list'%}">
                <i class="fas fa-list"><span class="pl-1">View Picks</span></i>
              </a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'fb_app:scores_list'%}">
                <i class="fas fa-solid fa-clipboard-list"><span class="pl-1">Current Week Score</span></i></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'fb_app:season_total'%}">
                <i class="fas fa-solid fa-dollar-sign"><span class="pl-1">Season Total</span></i></a>
              </li>
            <li class="nav-item active">
               <a class="nav-link" href="{% url 'fb_app:about'%}">
               <i class="fas fa-regular fa-info"><span class="pl-1">About</span></i></a>
            </li>
          </ul>
          <ul class="navbar-nav ms-auto">
            <li class="nav-item dropdown active">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="{% static 'img/golf-ball-tee-solid-full.svg' %}" alt="Football" style="width: 19px; height: 19px; margin-right: 8px; filter: brightness(0) invert(1); vertical-align: baseline;"><i style="font-weight: 600; font-style: normal;">Golf</i>
                
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="{% url 'golf_app:new_field_list_1' %}">Make Picks</a></li>
                <li id="golf_scores"></li>
              </ul>
            </li>
            {% if user.is_superuser%}
            <li class="nav-item active">
               <a class="nav-link" href="{% url 'admin:index'%}">
               <i class="fas fa-regular fa-info"><span class="pl-1">Admin</span></i></a>
            </li>
            {% endif %}
          </ul>
        </div>
        </nav>
    </div>

  <div>
  <!-- <div class="container"> -->
        {%block body_block%}  {%endblock%}
  </div>
<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function() {

        // get T
            fetch("/golf_app/get_info/", { method: "GET" })
                .then(response => response.json())
                .then(data => {
                  info = $.parseJSON(data);
                  console.log(info.t_num);
                    if (info.t_num == '468') {
                      $('#golf_scores').append("<a class='dropdown-item' href='{% url 'golf_app:ryder_cup_scores' %}'>Ryder Cup Scores</a>");
                    }
                    else {
                      $('#golf_scores').append("<a class='dropdown-item' href='{% url 'golf_app:api_scores_view' %}'>Current Week Scores</a>");
                    }
                  })
    });

</script>

</body>


</html>
