{%extends "fb_app/base.html"%}

{%load mathfilters%}
{%load static%}
{%load fb_extras%}
{%load compress%}

{%block body_block%} 

{%compress js%}
<script src="{% static 'fb_app/js/scores.js'%}" type="text/javascript" ></script> 
{%endcompress%}

<div id='loading'>
  <!-- <img src="{%static 'fb_app/images/LT1.gif'%}" height="50%" width="50%"></img> -->
  <br>
  <h3>Updating Scores....</h3>
</div>

<div id='status' hidden></div>




<p hidden id='week'>{{week.week}}</p>
<p hidden id='season'>{{week.season_model.season}}</p>
<p hidden id='league'>{{league.league}}</p>
<!-- <p hidden id='game_cnt'>{{week.game_cnt}}</p> -->
<p hidden id='game_cnt'>{{game_cnt}}</p>



{%if not week.started%}


<h2>Week {{week}}: come back when the games begin.</h2
<br>
<h4>Picks Submitted:</h4>
 {%for player in players%} <li> {{player}} </li> {%endfor%}
{%if pending%}
<h4>Picks Pending from: </h4>
{%for player in pending%}
<li> {{player}} </li> 
{%endfor%}
{%endif%}
{%endif%}

{%if week.started%}

<div id='picks-sect'>

</div>
{%compress js%}
  <script src="{% static "fb_app/js/ranks.js"%}" type="text/javascript"></script>
{%endcompress%}
    <div id='nfl-scores'> 
      <!-- <form id='winners-form' method='post'>
        {%csrf_token%}  -->
       <table id='score-tbl' class='table'> </table>    
       
       <!-- </form> -->
       </div>

{%endif%}
{%endblock%}

