{%extends "fb_app/base.html"%}

{%load mathfilters%}
{%load static%}
{%load fb_extras%}

{%block body_block%} 
<script src="{% static 'fb_app/js/scores.js'%}" type="text/javascript" ></script> 


<div id='loading'>
  <img src="{%static 'fb_app/images/LT1.gif'%}"></img>
  <h3>Updating Scores....</h3>
</div>




<p hidden id='week'>{{week.week}}</p>
<p hidden id='season'>{{week.season_model.season}}</p>
<p hidden id='league'>{{league.league}}</p>
<p hidden id='game_cnt'>{{week.game_cnt}}</p>


{%if not week.started%}


<h2>Week {{week}}: come back when the games begin.</h2
<br>
<h4>Picks Submitted: {%for player in players%} {{player}} {%endfor%}</h4>
{%if pending%}<h4>Picks Pending from: {%for player in pending%} {{player}} </h4> {%endfor%} {%endif%}
{%endif%}

{%if week.started%}

<div id='picks-sect'></div>
  <script src="{% static "fb_app/js/ranks.js"%}" type="text/javascript"></script>

    <div id='nfl-scores'> 
      <form id='winners-form' method='post'>
        {%csrf_token%}
       <table id='score-tbl' class='table'> </table>    
       
      </form>
</div>

{%endif%}
{%endblock%}

