{%extends "fb_app/base.html"%}
{% load bootstrap %}
{%load static%}
{%load fb_extras%}

{%block body_block%} 

<div class='container'>
<h2 class="mb-3" style="text-align: center;">Super Bowl Pool - {{game.away}} @ {{game.home}}</h2>

{%if form.errors%}
    <div class="alert alert-danger">
        <strong>{{form.errors}}</strong>
    </div>
{%endif%}

<p hidden id='fav'>{{game.fav.nfl_abbr}}</p>
<p hidden id='dog'>{{game.dog.nfl_abbr}}</p>
<div class='card' style='width: 100%;'>
<div class='card-body'>
<h5 class='card-title'>How to Play</h5>

<div class='card-text' style='text-align:left;'>
<p>One point for the closest absolute number (over or under) to the actual stat for each category.</p>
<p>Ties will result in a split of the point. </p>
<p>Highest total score wins.</p>
<p>For more detail, click <a href='/fb_app/playoff_about'>here</a></p>
</div>  
</div>
</div>



<form  method="POST">
{{form | bootstrap}}
{%csrf_token%}
{%if not game.week.started%}
<span> <button id='submit_btn' class="btn btn-primary" action="submit" disabled>Submit</button> </span>
{%endif%}
</form>
<a href="https://en.wikipedia.org/wiki/Passer_rating#NFL_and_CFL_formula">  <h3>*  Passer Rating - Click for logic, will be calculated for the player with the most passing attempts for the team.</h3></a>
</div>
<script>
    fetch("/fb_app/playoff_check_started/",
            {method: "GET",
            })
        .then((response) =>  response.json())
        .then((responseJSON) => {
            data = responseJSON.response
            console.log(data)
            if (!data['game_started']) {
                $('#submit_btn').removeAttr('disabled')
            }
            else {
                console.log('started');
                $('#submit_btn').html('Game Started')}
        })

$(document).ready(function() {
    console.log($('#id_winning_team_0').parent().html()) 

    if ($('#id_winning_team_0').parent().text().replace(/\s/g, '') == $("#dog").text()) {
        $('#id_winning_team_0').parent().html($('#id_winning_team_0').parent().html() + ": Underdog - 2 points") }
    else {$('#id_winning_team_0').parent().html($('#id_winning_team_0').parent().html() + ": Favorite - 1 point")}

    if ($('#id_winning_team_1').parent().text().replace(/\s/g, '') == $("#dog").text()) {
        $('#id_winning_team_1').parent().html($('#id_winning_team_1').parent().html() + ": Underdog - 2 points") }
    else {$('#id_winning_team_1').parent().html($('#id_winning_team_1').parent().html() + ": Favorite - 1 point")}

}
    
)

//[0].parentElement.innerText
///html/body/div[2]/div/form/div[12]/div/div[1]/label/text()

</script>

{%endblock%}