{%extends "fb_app/base.html"%}

{%load mathfilters%}
{%load static%}
{{form.media.css}}
{%block body_block%}

<script src="{% static "fb_app/js/ranks.js"%}" type="text/javascript" ></script>

<div class="row">
  <div class="column">
<h4>Weekly Results</h4>
<p>Click week number to see all picks</p>
<table class="table">
  <thead>
    <th>Week</th>
    {%for player in players%}
      <th>{{player}}</th>
    {%endfor%}
    <th>Winner</th>
  </thead>
  <tbody>
    <tr>
      <th>Winnings</th>
    {%for player, total in wins.items%}
      <td>${{total}}</td>
    {%endfor%}
    </tr>
    <tr>
      <th>Totals</th>
      {%for total in totals%}
      <td>{{total}}</td>
      {%endfor%}
    </tr>
    <tr> <th>Season Ranks </th>
        {%for rank in ranks%}
        <td class="ranks">{{rank}}</td>
        {%endfor%}
    </tr>
    {%for week, scores in scores.items%}
    <tr>
      <td> <a href="{%url 'fb_app:scores_list' pk=week.pk %}">{{week}}</td>
      {%for score in scores%}
      <td>{{score}}</td>
      {%endfor%}
    </tr>
    {%endfor%}
  </tbody>
</table>
</div>
</div>
{%endblock%}
