{%extends "fb_app/base.html"%}
{%load static%}
{%load tz%}
{%block body_block%}

<script src="{% static "fb_app/js/get_spreads.js"%}" type="text/javascript" ></script>

  <div class="container">

    <p id='week_key' hidden>{{week.pk}}</p>
    <p class='status' id='status'>updating spreads.....</p>
  <div class="updated-status">
    <p>Home team in CAPS</p>
</div>


    <h1>Week {{week.week}} Games</h1>

    <table class='table table-sm game_tbl'>
      <thead>
       <th>Game Time</th>
       <th>Fav</th>
       <th>Line</th>
       <th>Dog</th>
     </thead>
     <tbody id="game_tbl">
       {%for game in games%}
       <tr id='game{{forloop.counter}}' name="{{game.eid}}">
 
         <td>{{game.game_time | timezone:"America/New_York" | date:'D'}}, {{game.game_time | timezone:"America/New_York" | date:"P"}} </td>
         <!-- <td>{{game.day}} {{game.time}}</td> -->
         {%if game.fav == game.home%}
         <td id="fav{{forloop.counter}}">{%if game.fav%} {{game.fav}} <span class="record"> {{game.fav.get_record}} </span> {%else%} {{game.home}} <span class="record"> {{game.home.get_record}} </span>{%endif%}</td>
         {%else%}
         <td id="fav{{forloop.counter}}" >{%if game.fav%} {{game.fav | lower}} <span class="record"> {{game.fav.get_record}} </span> {%else%} {{game.home}} <span class="record"> {{game.home.get_record}} </span> {%endif%}</td>
         {%endif%}
         <td class="spread" id="spread{{forloop.counter}}"> {{game.spread}} </td>
         {%if game.dog == game.home%}
         <td id="dog{{forloop.counter}}" >{%if game.dog%}{{game.dog}} <span class="record"> {{game.dog.get_record}} </span> {%else%} {{game.away}} <span class="record"> {{game.away.get_record}} </span> {%endif%}</td>
         {%else%}
         <td id="dog{{forloop.counter}}" >{%if game.dog%}{{game.dog | lower}} <span class="record"> {{game.dog.get_record}} </span> {%else%} {{game.away | lower}} <span class="record"> {{game.away.get_record}} </span> {%endif%}</td>
         {%endif%}
       </tr>
 
       {%endfor%}
     </tbody>
    </table>
 



{%endblock%}
