{%extends "wc_app/wc_base.html"%}

{%block body_block%}
<h1>World Cup Soccer/Football Game</h1>

<h3>Format</h3>
<p>$25 entry fee per player, winner takes all (split in the case of a tie)</p>
<p>2 rounds of picks, Group Stage and Elimination Rounds</p>
<p>Points accumulate across both rounds, the high total score across both rounds wins</p>
<p>Pick Deadline will be the day of the start of each round (specific time to be determined by John's bedtime).</p>
<p>Failure to submit picks for the Elimination round will count as a DQ, any player failing to submit still owes the entry fee</p>


<h3>Group Stage</h3>
<p>Pick the finishing position of every team in their group</p>
<p>Points awarded for picking teams in the right finishing position.  The finishing position is determined by records and several tie breakers.  ESPN.com will be the source of all finishing  positions</p>
<p>Pick qualifying  team (#1 or #2 in the group): 3 points </p>
<p>Pick the group winner correctly: 2 bonus points</p>
<p>Pick 1-4 correctly for a group: 5 bonus points</p>
<p>The total points for a perfect group is 13 + any additional bonus points for an upset</p>
<p>Underdog bonus - if you pick the 3rd or 4th ranked team (based on the FIFA ranking) to finish in the top 2 and they do, the bonus is: (their world rank - #2 team world rank) *.3 - rounded to 2 decimal places</p>
<p>For example, if you pick Qatar to qualify there will be a 9.6 point bonus (50 - 18)*.3.  Qatar is the 50th ranked team, Senegal is ranked 18 and is the second strongest in group A.</p>


<h3>Knockout Stage</h3>
<p>Bracket format, pick all winners before the stage begins.</p>
<p>Round 1: 5 points for correct picks</p>
<p>Round 2: 10 points for correct picks</p>
<p>Round 3: 15 points for correct picks</p>
<p>Consolation Round: 20 points for correct pick</p>
<p>Champion: 30 points for correct pick</p>
<p>No bonus points in the Knockout Stage</p>

{%endblock%}