{%extends "wc_app/wc_base.html"%}

{%block body_block%}
<h1>Game Rules and Instructions</h1>

<h3>Format</h3>
<p>$25 entry fee per player, winner takes all (split in the case of a tie)</p>
<p>2 rounds of picks, Group Stage and Elimination Rounds</p>
<p>Points accumulate across both rounds, the high total score across both rounds wins</p>
<p>Pick Deadline will be the day of the start of each round (specific time to be determined by John's bedtime).</p>
<p>Failure to submit picks for the Elimination round will count as a DQ, any player failing to submit still owes the entry fee</p>


<h3>Group Stage</h3>
<p>Choose the rank within the group for each team</p>
<p>If your #1 or #2 pick finishes in first or second place: +3 points</p>
<p>If your first place pick finishes in first place: +2 points</p>
<p>All picks in Group correct (e.g. 1st, 2nd, 3rd ...): +5 points </p>
<p>For the WBC, tie breakers are explained <a href="https://www.mlb.com/world-baseball-classic/2023-bracket-standings">HERE</a>  </p>
<p>Upset bonus: if the 3rd, 4th (or lower based on braket size) ranked teams in a group finish first or second, bonus points = (team rank - second best rank) *.3. Rounded to 2 decimal places (if you picked one of those teams in 1st and they finish 1st you also get the first place bonus)</p>
<p>For the upset bonus, the bonus points per team are visible on the picks page</p>
<p>The total points for a perfect group is 13 + any additional bonus points for an upset</p>


<h3>Knockout Stage</h3>
<p>Bracket format, pick all winners before the stage begins.</p>
<p>Points depend on number of round, for WBC the points are 30 for Champion, 15 for Semifinal and 10 for quarterfinals.</p>
<p>These are points for world cup</p>
<p>Round 1: 5 points for correct picks</p>
<p>Round 2: 10 points for correct picks</p>
<p>Round 3: 15 points for correct picks</p>
<p>Consolation Round: 20 points for correct pick * Only availabe in events with a consolation game</p>
<p>Champion: 30 points for correct pick</p>
<p>No bonus points in the Knockout Stage</p>

{%endblock%}