{%extends "wc_app/wc_base.html"%}
{%load static%}
{%block body_block%}
<h1>{{stage.event.name}} - {{stage.name}} Picks</h1>
<h3>Rules</h3>
<!-- <ul>
    <li>Choose the rank within the group for each team</li>
    <li>If your #1 or #2 pick finishes in first or second place: +3 points</li>
    <li>If your first place pick finishes in first place: +2 points</li>
    <li>All picks in Group correct (1st, 2nd, 3rd, 4th): +5 points </li>
    <li>Upset bonus:  if the 3rd and 4th FIFA ranked teams finishes first or second, bonus points = (team rank - second best rank) *.3.  Rounded to 2 decimal places (if you picked one of those teams in 1st and they finish 1st you also get the first place bonus)</li>
    <li>All team rankings will be taken from ESPN.com.  Note that there are several tie breakers that determine the actual rank of each team, actual ranks based on those tie breakers will be used for scoring.</li>
    
</ul> -->

{%for x in stage.event.data.group_stage_rules%}
{%autoescape on%}
{{x|safe}}
{%endautoescape%}
{%endfor%}

{%for x in stage.event.data.group_stage_ranks_msg%}
{%autoescape on%}
{{x|safe}}
{%endautoescape%}
{%endfor%}
<!-- <p>Current FIFA World Rankings taken from <a href="https://www.fifa.com/fifa-world-ranking/men?dateId=id13792">FIFA</a> as of 10/6/2022</p> -->
<p hidden id="group_count">{{stage.event.data.group_stage_group_count}}</p>
<p hidden id="teams_per_group">{{stage.event.data.group_stage_teams_per_group}}</p>
<div id="picks_sect">
    <form method="POST" id="pick_form" class="form-class">
        {%csrf_token%}
    {%for g in groups%}
    <table id='picks_table_{{g.pk}}' class="table table-bordered">
        
        <thead>
            <th colspan='4' style="background-color:blue;color:white;">{{g.group}} <span id='{{g.pk}}_status'> - Make Picks</span></th>
        </thead>
        <tr>
            <th>Group Rank</th>
            <th>Team</th>
            <th>Rank</th>
            <th>Bonus Points</th>
        </tr>
        </table>
    {%endfor%}
    {%if stage.started%}
    <p style="color: red; font-weight:bold;">Stage Started, too late for picks</p>
    {%else%}
    <button type="submit" class="btn btn-primary" id="sub_btn" disabled>Submit</button>
    {%endif%}
</form>
<script type="text/javascript" src="{%static 'wc_app/js/group_picks.js'%}"></script>

<!-- <script type="text/javascript">

var data = JSON.parse('{{teams|escapejs}}')
var picks = JSON.parse('{{picks|escapejs}}')
console.log('picks ', picks)
$.each(data, function(i,d){
    //groupNum = d.fields.group
    
    $('#picks_table_' + d.fields.group).append('<tr id=' + d.pk + '_row></tr>')
    $('#' + d.pk + '_row').append('<td style=width:10%;> <select name=' + d.pk + ' selected=0 id=sel_' + d.pk + ' class=pick_input>' +
                                        '<option value=0>--</option>' + 
                                        '<option value=1>1</option>' + 
                                        '<option value=2>2</option>' + 
                                        '<option value=3>3</option>' + 
                                        '<option value=4>4</option>' + 
                                     '</input> </td>')
    $('#sel_' + d.pk).on('change', function() {checkComplete(document.getElementById('picks_table_' + d.fields.group))})

    //$('#' + d.pk + '_row').append('<td> <a href=' + d.fields.info_link + '>' + d.fields.full_name + '<span><img src="' + d.fields.flag_link + '"></img></span>' +'</a></td>' +
    //                                                '<td>' + d.fields.rank + '</td>')
    $('#' + d.pk + '_row').append('<td style=width:30%> <a href=' + d.fields.info_link + '> <span><img src="' + d.fields.flag_link + '"></img></span>' + d.fields.full_name + '</a></td>' +
                                                    '<td>' + d.fields.rank + '</td>')
    
    if (picks.length > 0) {
        var pick = picks.find(t => t.fields.team === d.pk)
        $('#sel_' + d.pk + ' option[value=' + pick.fields.rank + ']').attr('selected', 'selected')

    }
    fetch("/wc_app/wc_group_bonus_api/" + d.pk,         
        {method: "GET",
            })
    .then((response) => response.json())
    .then((responseJSON) => {
        bonus_data = responseJSON
        //console.log('group bonus: ', Object.keys(bonus_data), Object.values(bonus_data))
            $('#' + Object.keys(bonus_data) + '_row').append('<td>' + Object.values(bonus_data) + '</td>')
        
        })

})


$(document).ready(function() {console.log('ready'), checkComplete()})


function checkComplete(table) {
    $('#sub_btn').attr('disabled', true)
    picks = $('.pick_input')
    var pickArray = []
    for (i=0; i < picks.length; i++) {
        pickArray.push(picks[i].value)
            }

    one = pickArray.filter(i => i === '1').length
    two = pickArray.filter(i => i === '2').length
    three = pickArray.filter(i => i === '3').length
    four = pickArray.filter(i => i === '4').length
    
    if (one == 8 && two == 8 && three == 8 && four == 8){
        tables = document.getElementsByTagName('table')
        groupArray = []
        
        for (var t=0; t< tables.length; t++) {
            groupArray.push(checkGroups(tables[t]))}
        console.log(groupArray)
        console.log(groupArray.indexOf(false))
        if (groupArray.indexOf(false) != -1){
            $('#sub_btn').attr('disabled', true)
            }
        else {
            $('#sub_btn').attr('disabled', false)
        }
    }
    else if (table != undefined){
    checkGroups(table)
                }
}

function checkGroups(table){
    rows = table.rows
    pickArray = []
    for (i=2; i < rows.length; i++) {
        pickArray.push(rows[i].cells[0].children[0].value)
             }
    
    one = pickArray.filter(i => i === '1').length
    two = pickArray.filter(i => i === '2').length
    three = pickArray.filter(i => i === '3').length
    four = pickArray.filter(i => i === '4').length
    total = one + two + three + four

    if (one === 1 && two === 1 && three === 1 && four === 1) {
        $('#' + table.id.slice(-1) + '_status').html(' - Picks Good')
        $('#' + table.id.slice(-1) + '_status').css('background-color', 'blue')
        return true
    }
    else if (total == 0) {$('#' + table.id.slice(-1) + '_status').html('- Make Picks')
                            return false}
    else if (total == 4) {$('#' + table.id.slice(-1) + '_status').html('- Error - Check Picks')
                          $('#' + table.id.slice(-1) + '_status').css('background-color', 'red')
                            return false}

}

</script> -->

</div>
{%endblock%}