{%extends "wc_app/wc_base.html"%}
{%load static%}
{%load compress%}
{%block body_block%}
<link rel="stylesheet" href={%static 'golf_app/css/scores.css' %}>
<link rel="stylesheet" href={%static 'wc_app/css/ko_scores.css' %}>
<h1>Scores {{stage.event.name}} </h1>
<p id="stage_key" hidden>{{stage.pk}}</p>

<h3 id="stage_name">{{stage.name}} Scores</h3>
{%if stage.started%}

{% if stage.pick_type == '1'%}
<h4 id="status" onclick="getTable()">Updating Scores <span class="spinner-border spinner-border-sm align-items-center " style="color:red; margin: 5px" role="status" ></span> </h4>
<div id="table_div"></div>
<div id="scores_div"></div>
{%compress js%}
<script type="text/javascript" src="{%static 'wc_app/js/scores.js'%}"></script>
{%endcompress%}
{%else%}
<div id="scores_div"></div>
{%compress js%}
<script type="text/javascript" src="{%static 'wc_app/js/ko_scores.js'%}"></script>
{%endcompress%}
{%endif%}
{%else%}
<h4>Come back when games begin</h4>
{%if stage.name == 'Group Stage'%}
<h5>Picks Submitted</h5>
<ul>
{%for u in users%}
<li>{{u}}</li>
{%endfor%}
</ul>
{%else%}
<p><a href="{% url 'wc_app:wc_scores'%}/group">Group Stage Details</a></p>
<table class="table">
    <tr><th>Player</th><th>Score</th><th>Picks</th></tr>
{%for u, d in ko_users.items%}

<tr><td>{{u}}</td>><td>{{d.score}}</td><td>{{d.picks}}</td></tr>
{%endfor%}
</table>
{%endif%}
{%endif%}
{%endblock%}