{% extends 'port_app/port_app_base.html' %}
{%load static%}
{%block body_block%}
{%load bootstrap%}
<script type="text/javascript" src="{%static 'port_app/js/position.js'%}"></script>
<link rel="stylesheet" href={%static "port_app/css/position.css" %}>

<table class="table">

<tr>


<div class="container" style="width:330px;">
<th align="center">Symbol Lookup:</th>
<div  align="center" style="width:330px;">
  <td>  <input type="text" id="search" name="search" placeholder="Symbol..." class="form-control"></td>
  <div class='list-group' id="result"> </div>
</div>
</div>
</tr>
</table>


<form method="post">
  {%csrf_token%}
  <table class="table">
    <tbody>
  <tr>
    {{form}}
  </tr>
  </tbody>
  </table>
  <button type="submit" name="button">submit</button>

</form>



{%endblock%}
