
body {
    font-family: Arial;
    color: black;
    height: 100%;
}

* {
    box-sizing: border-box;

}

.row {
  display: flex;
}

.column {
  flex: 40%;
  padding: 20px;
  height: 700px;

}

.game_tbl {
  height: 60%;
}

#teams tr {
  cursor: move;
}

.spread {
  padding-left: 15px;
  padding-right: 20px;
}
