{% extends "run_app/base.html" %}
{%load static%}
{%load humanize%}
{%block body_block%}

<script src='{% static "run_app/js/dashboard.js"%}' type="text/javascript" ></script>




<div id='runs'>
  <!-- <script src='{% static "static-cdn-local/static-cdn-local/js/react-django.ui.js" %}' ></script>      -->
</div>
<div class="row">
  <div class="col">



  <table class="table">
    <thead>
      <th>Date</th>
      <th>Dist</th>
      <th>Time</th>
      <th>Pace</th>
      <th>Cals</th>
      <th>Runs</th>
      </thead>
    <tbody>
      {%for year in years%}
      <tr>
        <td>{{year.year}}</td>
        <td>{{year.dist|floatformat:"0"}}</td>
        <td>{{year.time}}</td>
        <td>{{year.pace}}</td>
        <td>{{year.cals}}</td>
        <td>{{year.num}}</td>
      </tr>
      {%endfor%}
      <tr>
        <td>Totals</td>
        <td>{{totals.tot_dist|floatformat:"0"|intcomma}}</td>
        <td>{{totals.tot_time}}</td>
        <td>{{totals.tot_pace}}</td>
        <td>{{totals.tot_cals|intcomma}}</td>
        <td>{{totals.num}}</td>
      </tr>
    </tbody>
  </table>
  </div>

  <div class="col">
    <table class="table">
      <thead>
        <th>Shoe</th>
        <th>Dist</th>
        <th>Runs</th>
      </thead>
      <tbody>
        {%for shoe in shoes%}
        <tr >
          <td>{{shoe.shoes__name}}</td>
          <td class="dist">{{shoe.dist|floatformat:"0"}}</td>
          <td>{{shoe.num}}</td>
        </tr>
        {%endfor %}
      </tbody>
    </table>
    <a href="{% url 'run_app:add_run' %}"> <button class="btn btn-primary">Add Run</button></a>
    <a href="{% url 'run_app:get_run_data' %}"> <button class="btn btn-primary">Get Runs</button></a>
    <h4></h4>
    {%for schedule in plan_list%}
    <a href="/run_app/plan/{{schedule.id}}"> <button class="btn btn-primary">Schedule: {{schedule}}</button></a>
    {%endfor%}
     
       
</div>

<table class="table">
  <thead>
  <th>Week Starting</th>
  <th>Dist</th>
  <th>Time</th>
  <th>Cals</th>
  <th>Runs</th>
  <th>Long Run</th>
  <th>Pace</th>
  <th>Total % chg</th>
  <th>Long % chg</th>
  </thead>
  <tbody>
    {%for week in weeks%}
    <tr>
      <td>{{week.date}}</td>
      <td>{{week.total_dist|floatformat:"0"}}</td>
      <td>{{week.time}}</td>
      <td>{{week.cals}}</td>
      <td>{{week.num}}</td>
      <td>{{week.max_dist}}</td>
      <td>{{week.pace}}</td>
      <td class="change">{{week.tot_change|floatformat:"0"}}</td>
      <td class="change">{{week.long_change|floatformat:"0"}}</td>
    </tr>
    {%endfor%}
    
  </tbody>
</table>




{%endblock%}
